In [1]:
# import pandas, numpy, matplotlib, seaborn 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# importing the requests library
import requests

### Resources
 1. [Restaurants in Wake County Data Info](https://www.arcgis.com/home/item.html?id=124c2187da8c41c59bde04fa67eb2872)
 2. [Wake County Open Data](https://data-wake.opendata.arcgis.com/search?tags=restaurants)
 3. [Food Inspection Violations Data Info](https://data.wakegov.com/datasets/Wake::food-inspection-violations/about)
 4. [Wake County Yelp Initiative](https://ash.harvard.edu/news/wake-county-yelp-initiative)

In [2]:
# https://data-wake.opendata.arcgis.com/datasets/food-inspections/explore
# https://www.arcgis.com/home/item.html?id=ebe3ae7f76954fad81411612d7c4fb17
def getFoodInspectionsDf(): 
    # https://maps.wakegov.com/arcgis/rest/services/Inspections/RestaurantInspectionsOpenData/MapServer/1/query?outFields=*&where=1%3D1
    
    # Sending get request and saving the response as response object
    # extracting data in json
    val = 'https://opendata.arcgis.com/datasets/ebe3ae7f76954fad81411612d7c4fb17_1.geojson'
    rows = []
    r = requests.get(url = val)
    data = r.json()
    #print(data)
    for d in data:
        data = r.json()['features']
        for d in data:
            rows.append(d['properties'])
    return pd.DataFrame(rows)

food_inspections_df = getFoodInspectionsDf()

In [3]:
print(food_inspections_df.shape)
food_inspections_df.head()

(189384, 8)

,OBJECTID,HSISID,SCORE,DATE_,DESCRIPTION,TYPE,INSPECTOR,PERMITID
0,21475168,04092017542,94.5,2017-04-07T00:00:00Z,"Inspection conducted by Joshua Volkan, supervi...",Inspection,Anne-Kathrin Bartoli,325
1,21475185,04092017542,92.0,2017-11-08T00:00:00Z,manager owns two deep chest freezers that are ...,Inspection,Laura McNeill,325
2,21475186,04092017542,95.0,2018-03-23T00:00:00Z,None,Inspection,Laura McNeill,325
3,21475187,04092017542,93.5,2018-09-07T00:00:00Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",Inspection,Laura McNeill,325
4,21475188,04092017542,93.0,2019-04-04T00:00:00Z,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,325

In [4]:
display(food_inspections_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189384 entries, 0 to 189383
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   OBJECTID     189384 non-null  int64
 1   HSISID       189384 non-null  object
 2   SCORE        189384 non-null  float64
 3   DATE_        189384 non-null  object
 4   DESCRIPTION  129500 non-null  object
 5   TYPE         189384 non-null  object
 6   INSPECTOR    189384 non-null  object
 7   PERMITID     189384 non-null  int64
dtypes: float64(1), int64(2), object(5)
memory usage: 11.6+ MB

None

In [7]:
food_inspections_df.isna().mean()

OBJECTID       0.000000
HSISID         0.000000
SCORE          0.000000
DATE_          0.000000
DESCRIPTION    0.316204
TYPE           0.000000
INSPECTOR      0.000000
PERMITID       0.000000
dtype: float64

In [8]:
display({column: len(food_inspections_df[column].unique()) for column in food_inspections_df.columns})

{'OBJECTID': 47346,
 'HSISID': 3865,
 'SCORE': 53,
 'DATE_': 2476,
 'DESCRIPTION': 14369,
 'TYPE': 2,
 'INSPECTOR': 67,
 'PERMITID': 3865}