## Wake County - Restaurant Food Inspections Analysis

In [153]:
# import pandas, numpy, matplotlib, seaborn 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# importing the requests library
import requests
import json

# importing sklearn library for data pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectKBest,f_regression, mutual_info_regression, f_classif
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import r2_score, mean_absolute_percentage_error,mean_squared_error

In [147]:
# !pip install ipynb
!pip install tpot

Requirement already satisfied: tpot in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (0.11.7)
Requirement already satisfied: numpy>=1.16.3 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (1.20.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (0.24.1)
Requirement already satisfied: deap>=1.2 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (1.3.1)
Requirement already satisfied: tqdm>=4.36.1 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (4.59.0)
Requirement already satisfied: pandas>=0.24.2 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (1.2.4)
Requirement already satisfied: xgboost>=1.1.0 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (1.5.0)
Requirement already satisfied: joblib>=0.13.2 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (1.0.1)
Requirement already satisfied: stopit>=1.1.1 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (1.1.2)
Requirement already satisfied: update-checker>=0.16 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (0.18.0)
Requirement already satisfied: scipy>=1.3.1 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from tpot) (1.7.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->tpot) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->tpot) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->tpot) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.22.0->tpot) (2.1.0)
Requirement already satisfied: requests>=2.3.0 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from update-checker>=0.16->tpot) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sanadkat/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.4)

### Resources
 1. [Restaurants in Wake County Data Info](https://www.arcgis.com/home/item.html?id=124c2187da8c41c59bde04fa67eb2872)
 2. [Wake County Open Data](https://data-wake.opendata.arcgis.com/search?tags=restaurants)
 3. [Food Inspection Violations Data Info](https://data.wakegov.com/datasets/Wake::food-inspection-violations/about)
 4. [Wake County Yelp Initiative](https://ash.harvard.edu/news/wake-county-yelp-initiative)
 5. [Yelp LIVES data](https://www.yelp.com/healthscores/feeds)

We're sourcing and pre-processing all the data in other notebooks. We have saved the pre-processed data in csv files so we can load them into dataframes in our main file here.
If you do want to source them from here, you're free to do so just uncomment the imports above so you can use the functions from the other notebooks.

## Fetch Restaurant Inspections

In [148]:
inspectionsdf = pd.read_csv('preprocessed_inspections.csv')
print(inspectionsdf.shape)
inspectionsdf.head()

(27343, 8)

,OBJECTID,HSISID,SCORE,DATE,DESCRIPTION,TYPE,INSPECTOR,PERMITID
0,22236469,4092017542,95.0,2018-03-23,NaN,Inspection,Laura McNeill,367
1,22236470,4092017542,93.5,2018-09-07,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",Inspection,Laura McNeill,367
2,22236471,4092017542,93.0,2019-04-04,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,367
3,22236472,4092017542,93.5,2019-10-07,Follow-Up: 10/17/2019,Inspection,Naterra McQueen,367
4,22236473,4092017542,92.5,2020-05-19,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Naterra McQueen,367

## Fetch Restaurant Data

In [149]:
restaurantsdf = pd.read_csv('preprocessed_restaurants.csv')
print(restaurantsdf.shape)
restaurantsdf.head()

(2385, 12)

,OBJECTID,HSISID,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,PERMITID,X,Y,GEOCODESTATUS
0,1891530,4092016487,PEACE CHINA,13220 Strickland RD,RALEIGH,27613,1.919677e+10,2013-08-14,2,-78.725938,35.908783,M
1,1891531,4092018622,Northside Bistro & Cocktails,832 SPRING FOREST RD,RALEIGH,27609,1.919891e+10,2021-05-13,22,-78.622635,35.866275,M
2,1891532,4092016155,DAILY PLANET CAFE,11 W JONES ST,RALEIGH,27601,1.919708e+10,2012-04-12,26,-78.639431,35.782205,M
3,1891533,4092016161,HIBACHI 88,3416 POOLE RD,RALEIGH,27610,1.919231e+10,2012-04-18,28,-78.579533,35.767246,M
4,1891534,4092017180,BOND BROTHERS BEER COMPANY,202 E CEDAR ST,CARY,27511,1.919459e+10,2016-03-11,29,-78.778021,35.787986,M

## Fetch violations

In [150]:
violationsdf = pd.read_csv('preprocessed_violations.csv')
print(violationsdf.shape)
violationsdf.head()

(178102, 15)

,OBJECTID,HSISID,INSPECTDATE,CATEGORY,CRITICAL,QUESTIONNO,VIOLATIONCODE,SEVERITY,SHORTDESC,INSPECTEDBY,COMMENTS,POINTVALUE,OBSERVATIONTYPE,VIOLATIONTYPE,CDCDATAITEM
0,188572810,4092017322,2020-07-10,Approved Source,NaN,9,3-201.11,NaN,Food obtained from approved source,Lauren Harden,3-201.11; PIC states that bakery items in disp...,0.0,OUT,NaN,Food shall be obtained from sources that compl...
1,188572819,4092110520,2018-03-05,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Laura McNeill,3-202.11; pans of reheated beef steak received...,1.0,OUT,CDI,Refrigerated food shall be at a temperature of...
2,188572820,4092017143,2018-08-20,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Jennifer Brown,3-202.11;Measured raw shell eggs at 49-50F upo...,0.0,OUT,CDI,Refrigerated food shall be at a temperature of...
3,188572821,4092110158,2019-02-20,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Kaitlyn Yow,3-202.11;,0.0,N/O,NaN,Refrigerated food shall be at a temperature of...
4,188572822,4092014259,2019-09-23,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Laura McNeill,3-202.11; upon arrival the manager had receive...,0.0,OUT,NaN,Refrigerated food shall be at a temperature of...

## Fetch weather data

In [151]:
# weatherdata_raw = getWeatherData()
# weatherdata = preprocess_weatherdata(weatherdata_raw.copy())
weatherdatadf = pd.read_csv('preprocessed_weatherdata.csv')
print(weatherdatadf.shape)
weatherdatadf.head()

(1406, 2)

         date  TAVG
0  2018-01-01  22.0
1  2018-01-02  20.0
2  2018-01-03  21.0
3  2018-01-04  26.0
4  2018-01-05  21.0

## Fetch Yelp Ratings Data

In [258]:

def getTitle(category_json):
    try:
        return json.loads(category_json[1:-1])[0]['title']
    except:
        return ""

# read in yelp and restaurant data

yelpdatadf = pd.read_csv('preprocessed_yelpdata.csv')
print(yelpdatadf.shape)

yelpdatadf['alias'] = yelpdatadf['categories'].apply(lambda x: str(json.dumps(x)))
yelpdatadf['alias'] = yelpdatadf['alias'].apply(lambda x: x.replace("\'", "\"").strip())
yelpdatadf['category_title'] = yelpdatadf['alias'].apply(lambda x: getTitle(x).lower())
display(yelpdatadf.head())

(2145, 9)

,name,is_closed,review_count,categories,rating,price,location,phone,display_phone,alias,category_title
0,Peace China,True,63,"[{'alias': 'chinese', 'title': 'Chinese'}]",3.5,$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968,"""[{""alias"": ""chinese"", ""title"": ""Chinese""}]""",chinese
1,Asian Cafe,True,7,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...",3.0,$$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968,"""[{""alias"": ""chinese"", ""title"": ""Chinese""}, {""...",chinese
2,Northside Bistro & Cocktails,False,23,"[{'alias': 'newamerican', 'title': 'American (...",4.5,NaN,"{'address1': '832 Spring Forest Rd', 'address2...",19198905225,(919) 890-5225,"""[{""alias"": ""newamerican"", ""title"": ""American ...",american (new)
3,The Daily Planet Cafe,False,89,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,$$,"{'address1': '121 W Jones St', 'address2': '',...",19197078060,(919) 707-8060,"""[{""alias"": ""cafes"", ""title"": ""Cafes""}, {""alia...",cafes
4,Hibachi 88,False,46,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,$,"{'address1': '3416-100 Poole Rd', 'address2': ...",19192311688,(919) 231-1688,"""[{""alias"": ""japanese"", ""title"": ""Japanese""}, ...",japanese

## Pull legend from YELP Lives

In [259]:
legend = pd.read_csv('YELP(LIVES)/legend.csv')
display(legend)

   minimum_score  maximum_score description
0             90            100           A
1             80             89           B
2             70             79           C
3             60             69           D
4              0             59           F

## Fetch crime data as proxy (daily police incidents)

In [260]:
# crime_data_raw = getCrimeDataDf()
# crimedatadf = preprocess_crimedata(crime_data_raw)
crimedatadf = pd.read_csv('preprocessed_crimedata.csv')
print(crimedatadf.shape)
crimedatadf.head()

(189202, 10)

,OBJECTID,crime_category,crime_code,crime_description,crime_type,city,reported_year,reported_month,reported_day,reported_dayofwk
0,12042,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,4,Sunday
1,12126,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,27,Tuesday
2,12130,MISCELLANEOUS,81B,Miscellaneous/Deceased Person,NaN,RALEIGH,2018,2,14,Wednesday
3,12142,MISCELLANEOUS,81E,Miscellaneous/Lost Property,NaN,RALEIGH,2018,1,2,Tuesday
4,12203,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,1,10,Wednesday

## Brainstorm Features

1.  Restaurant Data: POSTALCODE, RESTAURANTOPENDATE, X, Y, CITY
2.  Weather Data: Date (index), Avg Daily Hourly Temperature
3.  Restaurant Violations: the entirety / all features now

## Next Steps (we have T-minus 1 weeks) 

1.  Join tables by inspection. We want historical data per inspection and then we want to predict the risk scores for restaurants in high risk for future inspections. Note that although we have data around inspections by date, we don't really want to do a time series forecasting,bc time series forecasting sucks!
2.  Deal with missing values and encode variables 
3.  Feature engineering 
4.  Baseline model
5.  More complicated model
7.  Datasheets for datasets
8.  Hearsch - Ethical checklist 
9.  Visualizations and story telling!
10. Get started on a slideshow (FUN PART)

## Processing of data & feature engineering

## Combining DataFrames

In [261]:
# Create copy of original DataFrames
rest_inspect = inspectionsdf.copy()
rest_df = restaurantsdf.copy()
rest_violation = violationsdf.copy()
temp_df = weatherdatadf.copy()
yelp_df = yelpdatadf.copy()
score_legend = legend.copy()
crime_df = crimedatadf.copy()

## Merge restaurant data & inspections files

In [262]:
# Merged the inspectionsdf & restaurantsdf based on HSISID (which is primary key for identifying a resto)
final_df = rest_inspect.merge(rest_df, how='left', on=['HSISID'])
final_df.drop(['OBJECTID_x', 'OBJECTID_y', 'PERMITID_y', 'PERMITID_x'], axis=1, inplace=True)
print(final_df.shape)
final_df.head()

(27343, 15)

,HSISID,SCORE,DATE,DESCRIPTION,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS
0,4092017542,95.0,2018-03-23,NaN,Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
1,4092017542,93.5,2018-09-07,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
2,4092017542,93.0,2019-04-04,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
3,4092017542,93.5,2019-10-07,Follow-Up: 10/17/2019,Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
4,4092017542,92.5,2020-05-19,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M

## Merge all restaurant data with violations

In [263]:
pd.set_option('display.max_columns', None)
# Merge all the restaurant dataframes together with NaN values
#all_rest_df = rest_data.merge(rv, how='left', on=['HSISID'], indicator=True)
#all_rest_df.head()
#all_rest_df.tail()

## Playing around with Visuals (hearsch's playground -- do not touch)

In [264]:
#inspector_stats = final_df.groupby('INSPECTOR').agg({'SCORE':['mean','max','min']})
#inspector_stats

In [265]:
# create a figure and axis 
#fig, ax = plt.subplots() 
# count the occurrence of each class 
#data = final_df['SCORE'].value_counts().sort_index() 
# get x and y data 
#points = data.index 
#frequency = data.values 
# create bar chart 
#ax.bar(points, frequency)
# set title and labels 
#ax.set_title('Inspectors Average Score') 
#ax.set_xlabel('Points') 
#ax.set_ylabel('Frequency')
#ax.margins(x=0,y=0)

In [266]:
# View histogram of each feature amygdala and acc
#fig,ax = plt.subplots(2,2,figsize=(15,10))
#ax[0,0].hist(final_df['SCORE'],bins=10)
#ax[0,0].set_title('amygdala, bins=5')
#ax[0,1].hist(final_df['SCORE'],bins=10)
#ax[0,1].set_title('acc, bins=5')
#ax[1,0].hist(final_df['SCORE'],bins=20)
#ax[1,0].set_title('amygdala, bins=20')
#ax[1,1].hist(final_df['SCORE'],bins=20)
#ax[1,1].set_title('acc, bins=20')
#plt.show()

In [267]:
# Bar chart of counts for each inspection score given
#plt.figure(figsize=(12,10))
#final_df['SCORE'].value_counts().sort_index().plot(kind='bar')
#plt.tight_layout()
#plt.xlabel('Score')
#plt.ylabel('Frequency')
#plt.title('Average Inspection Scores')
#plt.show()

In [268]:
final_df.head()

,HSISID,SCORE,DATE,DESCRIPTION,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS
0,4092017542,95.0,2018-03-23,NaN,Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
1,4092017542,93.5,2018-09-07,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
2,4092017542,93.0,2019-04-04,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
3,4092017542,93.5,2019-10-07,Follow-Up: 10/17/2019,Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
4,4092017542,92.5,2020-05-19,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M

In [269]:
# merge temperature data
final = final_df.copy()
final = final.merge(temp_df, how='left', left_on='DATE', right_on='date')
final.drop(['date'], axis=1, inplace=True)
final

,HSISID,SCORE,DATE,DESCRIPTION,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS,TAVG
0,4092017542,95.0,2018-03-23,NaN,Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,42.0
1,4092017542,93.5,2018-09-07,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,81.0
2,4092017542,93.0,2019-04-04,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,60.0
3,4092017542,93.5,2019-10-07,Follow-Up: 10/17/2019,Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,71.0
4,4092017542,92.5,2020-05-19,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27338,4092017543,98.5,2021-05-27,NaN,Inspection,Maria Powell,Kardia,4420 Lake Boone TRL,RALEIGH,27607,NaN,2017-02-22,-78.702420,35.818172,M,80.0
27339,4092017543,98.0,2021-10-25,"Effective October 1, 2021, the North Carolina ...",Inspection,Meghan Scott,Kardia,4420 Lake Boone TRL,RALEIGH,27607,NaN,2017-02-22,-78.702420,35.818172,M,68.0
27340,4092018465,98.5,2020-12-30,NaN,Inspection,Ginger Johnson,Alpaca Peruvian Charcoal Chicken,1107 Pine Plaza Dr,APEX,27523,NaN,2020-10-14,-78.830266,35.746754,M,37.0
27341,4092018465,98.5,2021-03-16,NaN,Inspection,Ginger Johnson,Alpaca Peruvian Charcoal Chicken,1107 Pine Plaza Dr,APEX,27523,NaN,2020-10-14,-78.830266,35.746754,M,42.0
27342,4092018465,100.0,2021-06-25,Congratulations. Keep up the good work!,Inspection,Ginger Johnson,Alpaca Peruvian Charcoal Chicken,1107 Pine Plaza Dr,APEX,27523,NaN,2020-10-14,-78.830266,35.746754,M,69.0

In [270]:
# merge yelp data

yelp_df

,name,is_closed,review_count,categories,rating,price,location,phone,display_phone,alias,category_title
0,Peace China,True,63,"[{'alias': 'chinese', 'title': 'Chinese'}]",3.5,$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968,"""[{""alias"": ""chinese"", ""title"": ""Chinese""}]""",chinese
1,Asian Cafe,True,7,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...",3.0,$$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968,"""[{""alias"": ""chinese"", ""title"": ""Chinese""}, {""...",chinese
2,Northside Bistro & Cocktails,False,23,"[{'alias': 'newamerican', 'title': 'American (...",4.5,NaN,"{'address1': '832 Spring Forest Rd', 'address2...",19198905225,(919) 890-5225,"""[{""alias"": ""newamerican"", ""title"": ""American ...",american (new)
3,The Daily Planet Cafe,False,89,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,$$,"{'address1': '121 W Jones St', 'address2': '',...",19197078060,(919) 707-8060,"""[{""alias"": ""cafes"", ""title"": ""Cafes""}, {""alia...",cafes
4,Hibachi 88,False,46,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,$,"{'address1': '3416-100 Poole Rd', 'address2': ...",19192311688,(919) 231-1688,"""[{""alias"": ""japanese"", ""title"": ""Japanese""}, ...",japanese
...,...,...,...,...,...,...,...,...,...,...,...
2140,Dunkin',False,58,"[{'alias': 'donuts', 'title': 'Donuts'}, {'ali...",1.5,$,"{'address1': '1501 Werrington Dr', 'address2':...",19192850958,(919) 285-0958,"""[{""alias"": ""donuts"", ""title"": ""Donuts""}, {""al...",donuts
2141,Rosalini's Pizza And Subs,False,54,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,$$,"{'address1': '6210 Rogers Rd', 'address2': '',...",19194531466,(919) 453-1466,"""[{""alias"": ""pizza"", ""title"": ""Pizza""}, {""alia...",pizza
2142,Snoopy's Hot Dogs & More,False,45,"[{'alias': 'hotdog', 'title': 'Hot Dogs'}, {'a...",3.5,$,"{'address1': '2431 Spring Forest Rd', 'address...",19198763775,(919) 876-3775,"""[{""alias"": ""hotdog"", ""title"": ""Hot Dogs""}, {""...",hot dogs
2143,Subway,False,3,"[{'alias': 'sandwiches', 'title': 'Sandwiches'}]",3.5,$,"{'address1': '150 Fayetteville St', 'address2'...",19198280009,(919) 828-0009,"""[{""alias"": ""sandwiches"", ""title"": ""Sandwiches...",sandwiches
2144,Bawarchi Grill & Spirits,False,117,"[{'alias': 'indpak', 'title': 'Indian'}]",4.5,$$,"{'address1': '800 W Williams St', 'address2': ...",19193639000,(919) 363-9000,"""[{""alias"": ""indpak"", ""title"": ""Indian""}]""",indian

In [271]:
yelp_df['name'].nunique()

1430

In [272]:
final["NAME"] = final["NAME"].str.lower()
yelp_df["name"] = yelp_df["name"].str.lower()
final = final.merge(yelp_df, left_on="NAME", right_on="name", how="left")

In [277]:
finaldf = final.copy()
finaldf.drop_duplicates(['DATE', 'HSISID'], inplace=True)
finaldf.drop(['display_phone','is_closed', 'name', 'DESCRIPTION', 'PHONENUMBER', 'location', 'alias', 'categories'], axis=1, inplace=True)
finaldf.dropna(subset=['review_count'], inplace=True)

In [278]:
finaldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5309 entries, 0 to 39721
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HSISID              5309 non-null   int64
 1   SCORE               5309 non-null   float64
 2   DATE                5309 non-null   object
 3   TYPE                5309 non-null   object
 4   INSPECTOR           5309 non-null   object
 5   NAME                5309 non-null   object
 6   ADDRESS1            5309 non-null   object
 7   CITY                5309 non-null   object
 8   POSTALCODE          5309 non-null   object
 9   RESTAURANTOPENDATE  5309 non-null   object
 10  X                   5309 non-null   float64
 11  Y                   5309 non-null   float64
 12  GEOCODESTATUS       5309 non-null   object
 13  TAVG                5309 non-null   float64
 14  review_count        5309 non-null   float64
 15  rating              5309 non-null   float64
 16  price               4758 non-null   object
 17  phone               5309 non-null   float64
 18  category_title      5309 non-null   object
dtypes: float64(7), int64(1), object(11)
memory usage: 829.5+ KB

In [279]:
finaldf.head()

,HSISID,SCORE,DATE,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS,TAVG,review_count,rating,price,phone,category_title
0,4092017542,95.0,2018-03-23,Inspection,Laura McNeill,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,42.0,10.0,3.5,$,1.919517e+10,chicken wings
1,4092017542,93.5,2018-09-07,Inspection,Laura McNeill,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,81.0,10.0,3.5,$,1.919517e+10,chicken wings
2,4092017542,93.0,2019-04-04,Inspection,Joanne Rutkofske,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,60.0,10.0,3.5,$,1.919517e+10,chicken wings
3,4092017542,93.5,2019-10-07,Inspection,Naterra McQueen,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,71.0,10.0,3.5,$,1.919517e+10,chicken wings
4,4092017542,92.5,2020-05-19,Inspection,Naterra McQueen,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,61.0,10.0,3.5,$,1.919517e+10,chicken wings

In [280]:
crime_df.head()

,OBJECTID,crime_category,crime_code,crime_description,crime_type,city,reported_year,reported_month,reported_day,reported_dayofwk
0,12042,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,4,Sunday
1,12126,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,27,Tuesday
2,12130,MISCELLANEOUS,81B,Miscellaneous/Deceased Person,NaN,RALEIGH,2018,2,14,Wednesday
3,12142,MISCELLANEOUS,81E,Miscellaneous/Lost Property,NaN,RALEIGH,2018,1,2,Tuesday
4,12203,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,1,10,Wednesday

In [281]:
crimedf = crime_df.copy()
crimedf['reported_year'] = crimedf['reported_year'].astype(str)
crimedf['reported_month'] = crimedf['reported_month'].astype(str)
crimedf['reported_day'] = crimedf['reported_day'].astype(str)
crimedf['date'] = crimedf[['reported_year', 'reported_month', 'reported_day']].agg('-'.join, axis=1)
crimedf['date'] = pd.to_datetime(crimedf['date'])
crimedf

,OBJECTID,crime_category,crime_code,crime_description,crime_type,city,reported_year,reported_month,reported_day,reported_dayofwk,date
0,12042,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,4,Sunday,2018-02-04
1,12126,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,27,Tuesday,2018-02-27
2,12130,MISCELLANEOUS,81B,Miscellaneous/Deceased Person,NaN,RALEIGH,2018,2,14,Wednesday,2018-02-14
3,12142,MISCELLANEOUS,81E,Miscellaneous/Lost Property,NaN,RALEIGH,2018,1,2,Tuesday,2018-01-02
4,12203,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,1,10,Wednesday,2018-01-10
...,...,...,...,...,...,...,...,...,...,...,...
189197,652617,MISCELLANEOUS,81J,Miscellaneous/Overdose,NaN,RALEIGH,2021,11,8,Monday,2021-11-08
189198,652618,MISCELLANEOUS,81L,Miscellaneous/Suicide,NaN,RALEIGH,2021,11,3,Wednesday,2021-11-03
189199,652619,DRUG VIOLATIONS,54Z,Drug Equipment/Paraphernalia,CRIMES AGAINST SOCIETY,RALEIGH,2021,11,8,Monday,2021-11-08
189200,652620,DRUGS,54C,Drug Violation/Felony,CRIMES AGAINST SOCIETY,RALEIGH,2021,11,8,Monday,2021-11-08
189201,652621,LARCENY FROM MV,35F,Larceny/Theft from Motor Vehicle,CRIMES AGAINST PROPERTY,RALEIGH,2021,11,8,Monday,2021-11-08

In [282]:
print(crimedf['OBJECTID'].nunique())
crimedfagg = crimedf.groupby(['date']).size()
crimedfagg = pd.DataFrame(crimedfagg, columns=['crime_count']).reset_index()
display(crimedfagg)

189202

           date  crime_count
0    2018-01-01          122
1    2018-01-02          153
2    2018-01-03          161
3    2018-01-04           87
4    2018-01-05          101
...         ...          ...
1404 2021-11-05          144
1405 2021-11-06          130
1406 2021-11-07          128
1407 2021-11-08          184
1408 2021-11-09            5

[1409 rows x 2 columns]

In [283]:
featuretable = finaldf.copy()
featuretable['DATE'] = pd.to_datetime(featuretable['DATE'])
featuretable = featuretable.merge(crimedfagg, how='left', left_on='DATE', right_on='date')
featuretable=featuretable.drop(['date'], axis=1)
featuretable

,HSISID,SCORE,DATE,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS,TAVG,review_count,rating,price,phone,category_title,crime_count
0,4092017542,95.0,2018-03-23,Inspection,Laura McNeill,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,42.0,10.0,3.5,$,1.919517e+10,chicken wings,142
1,4092017542,93.5,2018-09-07,Inspection,Laura McNeill,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,81.0,10.0,3.5,$,1.919517e+10,chicken wings,157
2,4092017542,93.0,2019-04-04,Inspection,Joanne Rutkofske,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,60.0,10.0,3.5,$,1.919517e+10,chicken wings,145
3,4092017542,93.5,2019-10-07,Inspection,Naterra McQueen,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,71.0,10.0,3.5,$,1.919517e+10,chicken wings,136
4,4092017542,92.5,2020-05-19,Inspection,Naterra McQueen,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,61.0,10.0,3.5,$,1.919517e+10,chicken wings,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5304,4092017545,97.5,2021-01-14,Inspection,Zachary Carter,brewery bhavana,218 S BLOUNT ST,RALEIGH,27601,2017-03-06,-78.636924,35.777408,M,45.0,1025.0,4.5,$$,1.919830e+10,dim sum,123
5305,4092017545,93.0,2021-09-29,Inspection,Joanne Rutkofske,brewery bhavana,218 S BLOUNT ST,RALEIGH,27601,2017-03-06,-78.636924,35.777408,M,72.0,1025.0,4.5,$$,1.919830e+10,dim sum,146
5306,4092018465,98.5,2020-12-30,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,1107 Pine Plaza Dr,APEX,27523,2020-10-14,-78.830266,35.746754,M,37.0,219.0,4.5,$$,1.919713e+10,peruvian,164
5307,4092018465,98.5,2021-03-16,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,1107 Pine Plaza Dr,APEX,27523,2020-10-14,-78.830266,35.746754,M,42.0,219.0,4.5,$$,1.919713e+10,peruvian,137
5308,4092018465,100.0,2021-06-25,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,1107 Pine Plaza Dr,APEX,27523,2020-10-14,-78.830266,35.746754,M,69.0,219.0,4.5,$$,1.919713e+10,peruvian,156

In [284]:
# encode type, city, postalcode, convert to days since open, price
# convert score to yelp format 
featuretable.isna().sum()

HSISID                  0
SCORE                   0
DATE                    0
TYPE                    0
INSPECTOR               0
NAME                    0
ADDRESS1                0
CITY                    0
POSTALCODE              0
RESTAURANTOPENDATE      0
X                       0
Y                       0
GEOCODESTATUS           0
TAVG                    0
review_count            0
rating                  0
price                 551
phone                   0
category_title          0
crime_count             0
dtype: int64

In [285]:
def get_score_grade(legend_df, score):
    legend_dict = score_legend.to_dict('records')
    for d in legend_dict:
        if score >= d['minimum_score'] and score <= d['maximum_score']:
                return d['description']

display(score_legend)
get_score_grade(score_legend, 100)

   minimum_score  maximum_score description
0             90            100           A
1             80             89           B
2             70             79           C
3             60             69           D
4              0             59           F

'A'

In [286]:
finalfeat= featuretable.copy()
#finalfeat['DATE'] = finalfeat['DATE'].astype(object)
finalfeat['POSTALCODE'] = finalfeat['POSTALCODE'].str.split('-').str[0]

finalfeat['RESTAURANTOPENDATE'] = pd.to_datetime(finalfeat['RESTAURANTOPENDATE'])
basedate = pd.Timestamp('2021-01-01')
finalfeat['DAYS SINCE OPEN'] = (basedate - finalfeat['RESTAURANTOPENDATE']).dt.days
#finalfeat['DAYS OPEN SINCE INSPECTION'] = (finalfeat['DATE'] - finalfeat['RESTAURANTOPENDATE']).dt.days
finalfeat['DAYS OPEN SINCE INSPECTION'] = (pd.to_datetime(finalfeat['DATE']) - pd.to_datetime(finalfeat['RESTAURANTOPENDATE'])).dt.days
#finalfeat['DATE'] = finalfeat['DATE'].astype(object)
finalfeat = finalfeat.drop(['phone','ADDRESS1','GEOCODESTATUS','RESTAURANTOPENDATE'],axis=1)
finalfeat.CITY = finalfeat.CITY.str.lower()
finalfeat['SCORE GRADE'] = finalfeat['SCORE'].apply(lambda s: get_score_grade(score_legend, s))
print(finalfeat['SCORE GRADE'].value_counts())
finalfeat

A    5160
B     139
C       6
F       1
Name: SCORE GRADE, dtype: int64

,HSISID,SCORE,DATE,TYPE,INSPECTOR,NAME,CITY,POSTALCODE,X,Y,TAVG,review_count,rating,price,category_title,crime_count,DAYS SINCE OPEN,DAYS OPEN SINCE INSPECTION,SCORE GRADE
0,4092017542,95.0,2018-03-23,Inspection,Laura McNeill,american deli,raleigh,27610,-78.613760,35.754388,42.0,10.0,3.5,$,chicken wings,142,1402,387,A
1,4092017542,93.5,2018-09-07,Inspection,Laura McNeill,american deli,raleigh,27610,-78.613760,35.754388,81.0,10.0,3.5,$,chicken wings,157,1402,555,A
2,4092017542,93.0,2019-04-04,Inspection,Joanne Rutkofske,american deli,raleigh,27610,-78.613760,35.754388,60.0,10.0,3.5,$,chicken wings,145,1402,764,A
3,4092017542,93.5,2019-10-07,Inspection,Naterra McQueen,american deli,raleigh,27610,-78.613760,35.754388,71.0,10.0,3.5,$,chicken wings,136,1402,950,A
4,4092017542,92.5,2020-05-19,Inspection,Naterra McQueen,american deli,raleigh,27610,-78.613760,35.754388,61.0,10.0,3.5,$,chicken wings,100,1402,1175,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5304,4092017545,97.5,2021-01-14,Inspection,Zachary Carter,brewery bhavana,raleigh,27601,-78.636924,35.777408,45.0,1025.0,4.5,$$,dim sum,123,1397,1410,A
5305,4092017545,93.0,2021-09-29,Inspection,Joanne Rutkofske,brewery bhavana,raleigh,27601,-78.636924,35.777408,72.0,1025.0,4.5,$$,dim sum,146,1397,1668,A
5306,4092018465,98.5,2020-12-30,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,apex,27523,-78.830266,35.746754,37.0,219.0,4.5,$$,peruvian,164,79,77,A
5307,4092018465,98.5,2021-03-16,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,apex,27523,-78.830266,35.746754,42.0,219.0,4.5,$$,peruvian,137,79,153,A
5308,4092018465,100.0,2021-06-25,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,apex,27523,-78.830266,35.746754,69.0,219.0,4.5,$$,peruvian,156,79,254,A

In [287]:
rest_violation.head()

,OBJECTID,HSISID,INSPECTDATE,CATEGORY,CRITICAL,QUESTIONNO,VIOLATIONCODE,SEVERITY,SHORTDESC,INSPECTEDBY,COMMENTS,POINTVALUE,OBSERVATIONTYPE,VIOLATIONTYPE,CDCDATAITEM
0,188572810,4092017322,2020-07-10,Approved Source,NaN,9,3-201.11,NaN,Food obtained from approved source,Lauren Harden,3-201.11; PIC states that bakery items in disp...,0.0,OUT,NaN,Food shall be obtained from sources that compl...
1,188572819,4092110520,2018-03-05,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Laura McNeill,3-202.11; pans of reheated beef steak received...,1.0,OUT,CDI,Refrigerated food shall be at a temperature of...
2,188572820,4092017143,2018-08-20,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Jennifer Brown,3-202.11;Measured raw shell eggs at 49-50F upo...,0.0,OUT,CDI,Refrigerated food shall be at a temperature of...
3,188572821,4092110158,2019-02-20,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Kaitlyn Yow,3-202.11;,0.0,N/O,NaN,Refrigerated food shall be at a temperature of...
4,188572822,4092014259,2019-09-23,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Laura McNeill,3-202.11; upon arrival the manager had receive...,0.0,OUT,NaN,Refrigerated food shall be at a temperature of...

## Merge violations with finalfeat dataframe

In [288]:
#finalfeat['DATE'] = finalfeat['DATE'].astype(str)
#feat_df = finalfeat.merge(rest_violation, how='left', left_on=['HSISID', 'DATE'], right_on=['HSISID', 'INSPECTDATE'])
#print(feat_df[['HSISID', 'DATE']].nunique())
feat_df = finalfeat.copy()

In [325]:
# preprocessing features with violation df
#clean_feat = feat_df.copy()
#clean_feat = clean_feat.drop(['HSISID','OBJECTID','INSPECTDATE','INSPECTEDBY'],axis=1)
#print(clean_feat['POINTVALUE'].unique())
#print(clean_feat['VIOLATIONTYPE'].unique())
#print(clean_feat['OBSERVATIONTYPE'].unique())
#print(clean_feat['SEVERITY'].value_counts())
#clean_feat.info()
#clean_feat.head()

## Function for splitting data

In [330]:
# created function for splitting data 
def split_data(df):
    # Split data into train and test sets
    X = df.drop(['SCORE','SCORE GRADE'],axis=1)
    y = df['SCORE']
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
    return X_train,X_test,y_train,y_test

X_train, X_test, y_train, y_test = split_data(feat_df)

In [331]:
X_train.head()

,HSISID,DATE,TYPE,INSPECTOR,NAME,CITY,POSTALCODE,X,Y,TAVG,review_count,rating,price,category_title,crime_count,DAYS SINCE OPEN,DAYS OPEN SINCE INSPECTION
5076,4092016849,2021-05-20,Inspection,Laura McNeill,hibachi bowl,raleigh,27603,-78.699764,35.663364,70.0,35.0,4.0,$,japanese,156,2187,2326
1196,4092012154,2019-02-19,Inspection,Michael Robinson,truffles deli,raleigh,27604,-78.608445,35.820618,41.0,3.0,4.5,NaN,restaurants,124,8365,7683
3865,4092017919,2019-11-13,Inspection,Loc Nguyen,diced,cary,27619,-78.888246,35.844151,32.0,61.0,4.5,$$,gluten-free,142,848,433
729,4092016770,2019-08-16,Inspection,Nicole Millard,don beto's tacos,raleigh,27603,-78.653336,35.734646,77.0,40.0,4.5,$,mexican,140,2283,1779
4813,4092015153,2020-04-14,Inspection,John Wulffert,starbucks,fuquay varina,27526,-78.775234,35.591785,63.0,36.0,3.0,$$,coffee & tea,106,4574,4312

In [332]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4247 entries, 5076 to 2732
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   HSISID                      4247 non-null   int64
 1   DATE                        4247 non-null   datetime64[ns]
 2   TYPE                        4247 non-null   object
 3   INSPECTOR                   4247 non-null   object
 4   NAME                        4247 non-null   object
 5   CITY                        4247 non-null   object
 6   POSTALCODE                  4247 non-null   object
 7   X                           4247 non-null   float64
 8   Y                           4247 non-null   float64
 9   TAVG                        4247 non-null   float64
 10  review_count                4247 non-null   float64
 11  rating                      4247 non-null   float64
 12  price                       3818 non-null   object
 13  category_title              4247 non-null   object
 14  crime_count                 4247 non-null   int64
 15  DAYS SINCE OPEN             4247 non-null   int64
 16  DAYS OPEN SINCE INSPECTION  4247 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(7)
memory usage: 597.2+ KB
None

### Build pipeline
Let's create a pipeline from all the preprocessing and modeling steps for our problem.  Below are the steps we will need to incldue for our pipeline for this problem:  
- **Data preprocessing:**  
    - Numerical features:  
        - Fill missing data with median value of feature
        - Standardize each feature. 
    - Categorical features:  
        - Fill missing data with mode value of feature  
        - One-hot encode values for each feature. 
- **Modeling:**  
    - Train a linear regression model on the data
    
We can create two transformer pipelines for the preprocessing of the numerical features and the categorical features, and combine them using `ColumnTransformer` to apply them to the numerical features and categorical features respectively.  We can then place our `ColumnTransformer` in a pipeline together with our model (`LinearRegression`).  

We fit the entire pipeline on our training data (X_train and y_train) using `pipeline.fit(X_train,y_train)`.  Once our pipeline is fitted, we can then apply it to new data using `pipeline.predict(new_data)`.  The preprocessing steps in the pipeline are first applied to the new data and then the processed data is fed into the LinearRegression model to generate predictions.

In [333]:

numeric_features = ['review_count', 'crime_count', 'TAVG', 'DAYS SINCE OPEN', 'DAYS OPEN SINCE INSPECTION', 'X', 'Y', 'HSISID']

categorical_features = ['TYPE', 'INSPECTOR', 'CITY', 'price', 'rating', 'category_title']
for col in categorical_features:
    X_train[categorical_features] = X_train[categorical_features].astype(str)
    X_test[categorical_features] = X_test[categorical_features].astype(str)

ordinal_features = ['NAME', 'DATE', 'POSTALCODE']

onehot_enc = OneHotEncoder(handle_unknown='ignore')
# Fit encoder on training data
onehot_enc.fit(X_train[categorical_features])
# Get the names of the new columns created
colnames = list(onehot_enc.get_feature_names(input_features=categorical_features))

# Transform the data
onehot_vals = onehot_enc.transform(X_train[categorical_features]).toarray()
# Put transformed data into dataframe
enc_df = pd.DataFrame(onehot_vals,columns=colnames,index=X_train.index)
# Add onehot columns back onto original dataframe and drop the original columns
X_train = pd.concat([X_train,enc_df],axis=1).drop(categorical_features,axis=1)


onehot_vals = onehot_enc.transform(X_test[categorical_features]).toarray()
enc_df = pd.DataFrame(onehot_vals, columns=colnames, index=X_test.index)
X_test = pd.concat([X_test, enc_df],axis = 1).drop(categorical_features,axis = 1)


ord_enc =  OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
X_train[ordinal_features] = ord_enc.fit_transform(X_train[ordinal_features])
X_test[ordinal_features] = ord_enc.fit_transform(X_test[ordinal_features])

scaler = StandardScaler()
X_train[numeric_features] = scaler.fit_transform(X_train[numeric_features])
X_test[numeric_features] = scaler.fit_transform(X_test[numeric_features])

display(X_train.head())
display(X_test.head())

,HSISID,DATE,NAME,POSTALCODE,X,Y,TAVG,review_count,crime_count,DAYS SINCE OPEN,DAYS OPEN SINCE INSPECTION,TYPE_Inspection,TYPE_Re-Inspection,INSPECTOR_Andrea Anover,INSPECTOR_Angela Jacobs,INSPECTOR_Angela Myers,INSPECTOR_Brittny Thomas,INSPECTOR_Caroline Suggs,INSPECTOR_Christy Klaus,INSPECTOR_Cristofer LeClair,INSPECTOR_Daryl Beasley,INSPECTOR_David Adcock,INSPECTOR_Dipatrimarki Farkas,INSPECTOR_Elizabeth Jackson,INSPECTOR_Ginger Johnson,INSPECTOR_Greta Welch,INSPECTOR_Jackson Hooton,INSPECTOR_James Smith,INSPECTOR_Jamie Phelps,INSPECTOR_Jason Dunn,INSPECTOR_Jennifer Brown,INSPECTOR_Jessica Andrews,INSPECTOR_Joanne Rutkofske,INSPECTOR_Johanna Hill,INSPECTOR_John Wulffert,INSPECTOR_Jordan Jernigan,INSPECTOR_Joshua Volkan,INSPECTOR_Kaitlyn Yow,INSPECTOR_Karla Crowder,INSPECTOR_Kendra Wiggins,INSPECTOR_Laura McNeill,INSPECTOR_Lauren Harden,INSPECTOR_Lisa McCoy,INSPECTOR_Loc Nguyen,INSPECTOR_Lucy Schrum,INSPECTOR_Maria Powell,INSPECTOR_Marion Wearing,INSPECTOR_Meghan Scott,INSPECTOR_Melodee Johnson,INSPECTOR_Michael Robinson,INSPECTOR_Naterra McQueen,INSPECTOR_Nicole Millard,INSPECTOR_Nikia Lawrence,INSPECTOR_Pamela Scott,INSPECTOR_Patricia Sabby,INSPECTOR_Samatha Sparano,INSPECTOR_Sarah Thompson,INSPECTOR_Shakera Robbins,INSPECTOR_Shannon Flynn,INSPECTOR_Thomas Jumalon,INSPECTOR_Ursula Gadomski,INSPECTOR_Zachary Carter,CITY_apex,CITY_apex,CITY_cary,CITY_cary,CITY_fuquay varina,CITY_fuquay-varina,CITY_garner,CITY_holly springs,CITY_knightdale,CITY_morrisville,CITY_raleigh,CITY_raleigh,CITY_rolesville,CITY_wake forest,CITY_wendell,CITY_zebulon,price_$,price_$$,price_$$$,price_$$$$,price_nan,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0,category_title_american (new),category_title_american (traditional),category_title_amusement parks,category_title_arcades,category_title_asian fusion,category_title_bagels,category_title_bakeries,category_title_barbeque,category_title_bars,category_title_beer bar,category_title_beer gardens,"category_title_beer, wine & spirits",category_title_bowling,category_title_brazilian,category_title_breakfast & brunch,category_title_breweries,category_title_bubble tea,category_title_burgers,category_title_butcher,category_title_cafes,category_title_cajun/creole,category_title_cantonese,category_title_caribbean,category_title_chicken wings,category_title_chinese,category_title_churches,category_title_cinema,category_title_cocktail bars,category_title_coffee & tea,category_title_comfort food,category_title_convenience stores,category_title_country clubs,category_title_creperies,category_title_cuban,category_title_delis,category_title_desserts,category_title_dim sum,category_title_diners,category_title_dominican,category_title_fast food,category_title_filipino,category_title_fondue,category_title_gas stations,category_title_gluten-free,category_title_golf,category_title_greek,category_title_grocery,category_title_hawaiian,category_title_himalayan/nepalese,category_title_hotels,category_title_ice cream & frozen yogurt,category_title_indian,category_title_italian,category_title_japanese,category_title_juice bars & smoothies,category_title_kebab,category_title_korean,category_title_laotian,category_title_latin american,category_title_malaysian,category_title_mediterranean,category_title_mexican,category_title_middle eastern,category_title_mini golf,category_title_mongolian,category_title_nail salons,category_title_noodles,category_title_organic stores,category_title_pakistani,category_title_persian/iranian,category_title_peruvian,category_title_pizza,category_title_poke,category_title_portuguese,category_title_pubs,category_title_ramen,category_title_restaurants,category_title_salad,category_title_salvadoran,category_title_sandwiches,category_title_seafood,category_title_skating rinks,category_title_social clubs,category_title_southern,category_title_sports bars,category_title_sports wear,category_title_steakhouses,category_title_sushi bars,category_title_szechuan,category_title_tacos,category_title_taiwanese,category_title_tapas/small plates,category_title_tea rooms,category_title_tex-mex,category_title_thai,category_title_vegan,category_title_venezuelan,category_title_venues & event spaces,category_title_vietnamese,category_title_wine bars,category_title_wraps
5076,0.440154,820.0,207.0,17.0,-0.091915,0.046298,0.519233,-0.522517,0.874661,-0.471224,-0.292015,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1196,-1.974845,273.0,490.0,18.0,-0.078893,0.095569,-1.375534,-0.693506,-0.787646,1.848439,1.738274,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3865,0.990537,455.0,149.0,31.0,-0.118791,0.102942,-1.963565,-0.383589,0.147402,-0.973980,-1.009457,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,0.399518,398.0,153.0,17.0,-0.085294,0.068632,0.976590,-0.495800,0.043507,-0.435179,-0.499327,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4813,-0.432229,549.0,414.0,6.0,-0.102676,0.023871,0.061875,-0.517174,-1.722694,0.425027,0.460674,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,HSISID,DATE,NAME,POSTALCODE,X,Y,TAVG,review_count,crime_count,DAYS SINCE OPEN,DAYS OPEN SINCE INSPECTION,TYPE_Inspection,TYPE_Re-Inspection,INSPECTOR_Andrea Anover,INSPECTOR_Angela Jacobs,INSPECTOR_Angela Myers,INSPECTOR_Brittny Thomas,INSPECTOR_Caroline Suggs,INSPECTOR_Christy Klaus,INSPECTOR_Cristofer LeClair,INSPECTOR_Daryl Beasley,INSPECTOR_David Adcock,INSPECTOR_Dipatrimarki Farkas,INSPECTOR_Elizabeth Jackson,INSPECTOR_Ginger Johnson,INSPECTOR_Greta Welch,INSPECTOR_Jackson Hooton,INSPECTOR_James Smith,INSPECTOR_Jamie Phelps,INSPECTOR_Jason Dunn,INSPECTOR_Jennifer Brown,INSPECTOR_Jessica Andrews,INSPECTOR_Joanne Rutkofske,INSPECTOR_Johanna Hill,INSPECTOR_John Wulffert,INSPECTOR_Jordan Jernigan,INSPECTOR_Joshua Volkan,INSPECTOR_Kaitlyn Yow,INSPECTOR_Karla Crowder,INSPECTOR_Kendra Wiggins,INSPECTOR_Laura McNeill,INSPECTOR_Lauren Harden,INSPECTOR_Lisa McCoy,INSPECTOR_Loc Nguyen,INSPECTOR_Lucy Schrum,INSPECTOR_Maria Powell,INSPECTOR_Marion Wearing,INSPECTOR_Meghan Scott,INSPECTOR_Melodee Johnson,INSPECTOR_Michael Robinson,INSPECTOR_Naterra McQueen,INSPECTOR_Nicole Millard,INSPECTOR_Nikia Lawrence,INSPECTOR_Pamela Scott,INSPECTOR_Patricia Sabby,INSPECTOR_Samatha Sparano,INSPECTOR_Sarah Thompson,INSPECTOR_Shakera Robbins,INSPECTOR_Shannon Flynn,INSPECTOR_Thomas Jumalon,INSPECTOR_Ursula Gadomski,INSPECTOR_Zachary Carter,CITY_apex,CITY_apex,CITY_cary,CITY_cary,CITY_fuquay varina,CITY_fuquay-varina,CITY_garner,CITY_holly springs,CITY_knightdale,CITY_morrisville,CITY_raleigh,CITY_raleigh,CITY_rolesville,CITY_wake forest,CITY_wendell,CITY_zebulon,price_$,price_$$,price_$$$,price_$$$$,price_nan,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0,category_title_american (new),category_title_american (traditional),category_title_amusement parks,category_title_arcades,category_title_asian fusion,category_title_bagels,category_title_bakeries,category_title_barbeque,category_title_bars,category_title_beer bar,category_title_beer gardens,"category_title_beer, wine & spirits",category_title_bowling,category_title_brazilian,category_title_breakfast & brunch,category_title_breweries,category_title_bubble tea,category_title_burgers,category_title_butcher,category_title_cafes,category_title_cajun/creole,category_title_cantonese,category_title_caribbean,category_title_chicken wings,category_title_chinese,category_title_churches,category_title_cinema,category_title_cocktail bars,category_title_coffee & tea,category_title_comfort food,category_title_convenience stores,category_title_country clubs,category_title_creperies,category_title_cuban,category_title_delis,category_title_desserts,category_title_dim sum,category_title_diners,category_title_dominican,category_title_fast food,category_title_filipino,category_title_fondue,category_title_gas stations,category_title_gluten-free,category_title_golf,category_title_greek,category_title_grocery,category_title_hawaiian,category_title_himalayan/nepalese,category_title_hotels,category_title_ice cream & frozen yogurt,category_title_indian,category_title_italian,category_title_japanese,category_title_juice bars & smoothies,category_title_kebab,category_title_korean,category_title_laotian,category_title_latin american,category_title_malaysian,category_title_mediterranean,category_title_mexican,category_title_middle eastern,category_title_mini golf,category_title_mongolian,category_title_nail salons,category_title_noodles,category_title_organic stores,category_title_pakistani,category_title_persian/iranian,category_title_peruvian,category_title_pizza,category_title_poke,category_title_portuguese,category_title_pubs,category_title_ramen,category_title_restaurants,category_title_salad,category_title_salvadoran,category_title_sandwiches,category_title_seafood,category_title_skating rinks,category_title_social clubs,category_title_southern,category_title_sports bars,category_title_sports wear,category_title_steakhouses,category_title_sushi bars,category_title_szechuan,category_title_tacos,category_title_taiwanese,category_title_tapas/small plates,category_title_tea rooms,category_title_tex-mex,category_title_thai,category_title_vegan,category_title_venezuelan,category_title_venues & event spaces,category_title_vietnamese,category_title_wine bars,category_title_wraps
1003,1.167666,420.0,91.0,18.0,-0.080669,0.060762,0.944329,-0.692659,-0.667416,-1.142448,-1.057337,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.032253,263.0,98.0,32.0,-0.080416,0.074708,0.154091,-0.761468,1.060589,-0.021336,-0.068447,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1643,-1.572262,434.0,66.0,11.0,-0.101782,0.101953,0.022385,0.458325,-1.767056,1.669963,1.770433,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4110,0.538167,226.0,327.0,13.0,-0.053108,0.129966,1.273595,0.702284,0.694042,-0.561088,-0.637551,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1778,0.800590,484.0,148.0,3.0,-0.095936,0.058856,-2.019062,0.965008,-1.033963,-0.756801,-0.613243,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [334]:
# # Convert all to object dtype
# for feat in numeric_features:
#     featuretable[feat]=featuretable[feat].astype(object)

# Create transformer for numeric features
# Fill missing values with median and then scale
#numeric_transformer = Pipeline(steps=
#                               [
#                                ("fill_missing", SimpleImputer(strategy="median")), 
#                                ("scaler", StandardScaler())])

# Create transformer for categorical features
# Fill missing values with mode and then one-hot encode

# Convert all to strings
#for feat in categorical_features:
#    clean_feat[feat]=clean_feat[feat].astype(str)
# Create transformer pipeline for categorical data
#categorical_transformer = Pipeline(steps=
                                   [
#                                    #("fill_missing",SimpleImputer(strategy="most_frequent")),
#                                    ("encoder",OneHotEncoder(handle_unknown="ignore"))])
# Combine the two transformers into single ColumnTransformer preprocessor
#preprocessor = ColumnTransformer(transformers=
#                                 [("num", numeric_transformer, numeric_features),
#                                  ("cat", categorical_transformer, categorical_features)])

# Create pipeline with preprocessor and model
#model_pipeline = Pipeline(steps=[("preprocessor", preprocessor), ("model", LinearRegression())])

IndentationError: unexpected indent (<ipython-input-334-8707075db587>, line 20)

In [335]:
model = LinearRegression()
# Fit the pipeline on the training data
model.fit(X_train, y_train)

# Use the pipeline to get predictions on test set and evaluate
test_preds = model.predict(X_test)
r2 = r2_score(y_test,test_preds)
print("MAPE", mean_absolute_percentage_error(y_test, test_preds))
print("MSE", mean_squared_error(y_test, test_preds))
print("RMSE", np.sqrt(mean_squared_error(y_test, test_preds)))
print("R-squared on test-set: {:.3f}".format(r2))

MAPE 0.05931143772788449
MSE 44.7240076308428
RMSE 6.687601037056771
R-squared on test-set: -4.707

In [336]:
from tpot import TPOTRegressor
tpot = TPOTRegressor(generations=5, population_size=50, verbosity=2, random_state=42)
display(X_train.head())
tpot.fit(X_train, y_train)
print(tpot.score(X_test, y_test))

,HSISID,DATE,NAME,POSTALCODE,X,Y,TAVG,review_count,crime_count,DAYS SINCE OPEN,DAYS OPEN SINCE INSPECTION,TYPE_Inspection,TYPE_Re-Inspection,INSPECTOR_Andrea Anover,INSPECTOR_Angela Jacobs,INSPECTOR_Angela Myers,INSPECTOR_Brittny Thomas,INSPECTOR_Caroline Suggs,INSPECTOR_Christy Klaus,INSPECTOR_Cristofer LeClair,INSPECTOR_Daryl Beasley,INSPECTOR_David Adcock,INSPECTOR_Dipatrimarki Farkas,INSPECTOR_Elizabeth Jackson,INSPECTOR_Ginger Johnson,INSPECTOR_Greta Welch,INSPECTOR_Jackson Hooton,INSPECTOR_James Smith,INSPECTOR_Jamie Phelps,INSPECTOR_Jason Dunn,INSPECTOR_Jennifer Brown,INSPECTOR_Jessica Andrews,INSPECTOR_Joanne Rutkofske,INSPECTOR_Johanna Hill,INSPECTOR_John Wulffert,INSPECTOR_Jordan Jernigan,INSPECTOR_Joshua Volkan,INSPECTOR_Kaitlyn Yow,INSPECTOR_Karla Crowder,INSPECTOR_Kendra Wiggins,INSPECTOR_Laura McNeill,INSPECTOR_Lauren Harden,INSPECTOR_Lisa McCoy,INSPECTOR_Loc Nguyen,INSPECTOR_Lucy Schrum,INSPECTOR_Maria Powell,INSPECTOR_Marion Wearing,INSPECTOR_Meghan Scott,INSPECTOR_Melodee Johnson,INSPECTOR_Michael Robinson,INSPECTOR_Naterra McQueen,INSPECTOR_Nicole Millard,INSPECTOR_Nikia Lawrence,INSPECTOR_Pamela Scott,INSPECTOR_Patricia Sabby,INSPECTOR_Samatha Sparano,INSPECTOR_Sarah Thompson,INSPECTOR_Shakera Robbins,INSPECTOR_Shannon Flynn,INSPECTOR_Thomas Jumalon,INSPECTOR_Ursula Gadomski,INSPECTOR_Zachary Carter,CITY_apex,CITY_apex,CITY_cary,CITY_cary,CITY_fuquay varina,CITY_fuquay-varina,CITY_garner,CITY_holly springs,CITY_knightdale,CITY_morrisville,CITY_raleigh,CITY_raleigh,CITY_rolesville,CITY_wake forest,CITY_wendell,CITY_zebulon,price_$,price_$$,price_$$$,price_$$$$,price_nan,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0,category_title_american (new),category_title_american (traditional),category_title_amusement parks,category_title_arcades,category_title_asian fusion,category_title_bagels,category_title_bakeries,category_title_barbeque,category_title_bars,category_title_beer bar,category_title_beer gardens,"category_title_beer, wine & spirits",category_title_bowling,category_title_brazilian,category_title_breakfast & brunch,category_title_breweries,category_title_bubble tea,category_title_burgers,category_title_butcher,category_title_cafes,category_title_cajun/creole,category_title_cantonese,category_title_caribbean,category_title_chicken wings,category_title_chinese,category_title_churches,category_title_cinema,category_title_cocktail bars,category_title_coffee & tea,category_title_comfort food,category_title_convenience stores,category_title_country clubs,category_title_creperies,category_title_cuban,category_title_delis,category_title_desserts,category_title_dim sum,category_title_diners,category_title_dominican,category_title_fast food,category_title_filipino,category_title_fondue,category_title_gas stations,category_title_gluten-free,category_title_golf,category_title_greek,category_title_grocery,category_title_hawaiian,category_title_himalayan/nepalese,category_title_hotels,category_title_ice cream & frozen yogurt,category_title_indian,category_title_italian,category_title_japanese,category_title_juice bars & smoothies,category_title_kebab,category_title_korean,category_title_laotian,category_title_latin american,category_title_malaysian,category_title_mediterranean,category_title_mexican,category_title_middle eastern,category_title_mini golf,category_title_mongolian,category_title_nail salons,category_title_noodles,category_title_organic stores,category_title_pakistani,category_title_persian/iranian,category_title_peruvian,category_title_pizza,category_title_poke,category_title_portuguese,category_title_pubs,category_title_ramen,category_title_restaurants,category_title_salad,category_title_salvadoran,category_title_sandwiches,category_title_seafood,category_title_skating rinks,category_title_social clubs,category_title_southern,category_title_sports bars,category_title_sports wear,category_title_steakhouses,category_title_sushi bars,category_title_szechuan,category_title_tacos,category_title_taiwanese,category_title_tapas/small plates,category_title_tea rooms,category_title_tex-mex,category_title_thai,category_title_vegan,category_title_venezuelan,category_title_venues & event spaces,category_title_vietnamese,category_title_wine bars,category_title_wraps
5076,0.440154,820.0,207.0,17.0,-0.091915,0.046298,0.519233,-0.522517,0.874661,-0.471224,-0.292015,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1196,-1.974845,273.0,490.0,18.0,-0.078893,0.095569,-1.375534,-0.693506,-0.787646,1.848439,1.738274,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3865,0.990537,455.0,149.0,31.0,-0.118791,0.102942,-1.963565,-0.383589,0.147402,-0.973980,-1.009457,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,0.399518,398.0,153.0,17.0,-0.085294,0.068632,0.976590,-0.495800,0.043507,-0.435179,-0.499327,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4813,-0.432229,549.0,414.0,6.0,-0.102676,0.023871,0.061875,-0.517174,-1.722694,0.425027,0.460674,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Warning: xgboost.XGBRegressor is not available and will not be used by TPOT.

Optimization Progress:   0%|          | 0/300 [00:00<?, ?pipeline/s]

TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: ExtraTreesRegressor(RandomForestRegressor(input_matrix, bootstrap=True, max_features=0.35000000000000003, min_samples_leaf=2, min_samples_split=17, n_estimators=100), bootstrap=True, max_features=0.7000000000000001, min_samples_leaf=16, min_samples_split=10, n_estimators=100)
-5.6601558072813365

In [337]:
coef = model['model'].coef_
intercept = model_pipeline['model'].intercept_
# Print out the equation
equation = 'y = {:.2f} + '.format(intercept) + ' + '.join(['{:.2f}*{}'.format(coef,var) for coef,var in zip(coef,X_train.columns)])
print(equation)

y = 95.77 + -0.05*HSISID + -0.08*DATE + -0.78*NAME + 0.78*POSTALCODE + -2.15*X + -0.66*Y + -0.94*TAVG + 1.51*review_count + 0.84*crime_count + -0.15*DAYS SINCE OPEN + 0.80*DAYS OPEN SINCE INSPECTION + 1.42*TYPE_Inspection + 0.83*TYPE_Re-Inspection + 2.10*INSPECTOR_Andrea Anover + 0.18*INSPECTOR_Angela Jacobs + -0.15*INSPECTOR_Angela Myers + 1.18*INSPECTOR_Brittny Thomas + 0.55*INSPECTOR_Caroline Suggs + 0.43*INSPECTOR_Christy Klaus + 2.66*INSPECTOR_Cristofer LeClair + 1.65*INSPECTOR_Daryl Beasley + -0.75*INSPECTOR_David Adcock + 1.64*INSPECTOR_Dipatrimarki Farkas + -0.46*INSPECTOR_Elizabeth Jackson + 1.36*INSPECTOR_Ginger Johnson + 1.81*INSPECTOR_Greta Welch + 1.41*INSPECTOR_Jackson Hooton + 1.07*INSPECTOR_James Smith + -0.49*INSPECTOR_Jamie Phelps + -0.53*INSPECTOR_Jason Dunn + -31.24*INSPECTOR_Jennifer Brown + 0.03*INSPECTOR_Jessica Andrews + -0.12*INSPECTOR_Joanne Rutkofske + 1.78*INSPECTOR_Johanna Hill + 1.68*INSPECTOR_John Wulffert + -2.71*INSPECTOR_Jordan Jernigan + -0.25*INSPECTOR_Joshua Volkan + 0.18*INSPECTOR_Kaitlyn Yow + 1.21*INSPECTOR_Karla Crowder + 2.38*INSPECTOR_Kendra Wiggins + 1.87*INSPECTOR_Laura McNeill + 0.62*INSPECTOR_Lauren Harden + 1.49*INSPECTOR_Lisa McCoy + -0.38*INSPECTOR_Loc Nguyen + 3.19*INSPECTOR_Lucy Schrum + 0.49*INSPECTOR_Maria Powell + 1.37*INSPECTOR_Marion Wearing + 1.32*INSPECTOR_Meghan Scott + 2.41*INSPECTOR_Melodee Johnson + 0.81*INSPECTOR_Michael Robinson + -5.03*INSPECTOR_Naterra McQueen + 1.60*INSPECTOR_Nicole Millard + 2.15*INSPECTOR_Nikia Lawrence + -0.48*INSPECTOR_Pamela Scott + 0.48*INSPECTOR_Patricia Sabby + 1.84*INSPECTOR_Samatha Sparano + 2.89*INSPECTOR_Sarah Thompson + 0.03*INSPECTOR_Shakera Robbins + -4.29*INSPECTOR_Shannon Flynn + 0.60*INSPECTOR_Thomas Jumalon + 0.97*INSPECTOR_Ursula Gadomski + 0.25*INSPECTOR_Zachary Carter + 0.62*CITY_apex + -1.33*CITY_apex  + -0.13*CITY_cary + 1.04*CITY_cary  + 1.52*CITY_fuquay varina + -1.27*CITY_fuquay-varina + -0.05*CITY_garner + -3.00*CITY_holly springs + 0.64*CITY_knightdale + -2.13*CITY_morrisville + 2.18*CITY_raleigh + 0.31*CITY_raleigh  + -0.06*CITY_rolesville + 0.94*CITY_wake forest + -0.34*CITY_wendell + -0.64*CITY_zebulon + -3.83*price_$ + -2.63*price_$$ + -7.55*price_$$$ + -0.26*price_$$$$ + -0.34*price_nan + -0.64*rating_1.5 + 1.03*rating_2.0 + 0.43*rating_2.5 + 1.05*rating_3.0 + -1.01*rating_3.5 + -0.97*rating_4.0 + 2.81*rating_4.5 + 0.98*rating_5.0 + -1.31*category_title_american (new) + -0.73*category_title_american (traditional) + -0.34*category_title_amusement parks + -1.28*category_title_arcades + 1.74*category_title_asian fusion + 1.02*category_title_bagels + -0.22*category_title_bakeries + 0.44*category_title_barbeque + 1.03*category_title_bars + 1.86*category_title_beer bar + 0.36*category_title_beer gardens + -2.32*category_title_beer, wine & spirits + 1.59*category_title_bowling + 1.43*category_title_brazilian + 0.34*category_title_breakfast & brunch + 0.27*category_title_breweries + 0.74*category_title_bubble tea + 1.34*category_title_burgers + 0.55*category_title_butcher + 1.80*category_title_cafes + -2.74*category_title_cajun/creole + -2.74*category_title_cantonese + 1.76*category_title_caribbean + 1.63*category_title_chicken wings + 1.77*category_title_chinese + -0.25*category_title_churches + -1.06*category_title_cinema + 0.59*category_title_cocktail bars + 1.67*category_title_coffee & tea + -0.27*category_title_comfort food + 0.70*category_title_convenience stores + -2.17*category_title_country clubs + 0.61*category_title_creperies + -0.98*category_title_cuban + 1.58*category_title_delis + 0.26*category_title_desserts + 0.23*category_title_dim sum + 0.49*category_title_diners + 1.44*category_title_dominican + 0.37*category_title_fast food + -0.37*category_title_filipino + -5.11*category_title_fondue + 1.29*category_title_gas stations + 0.16*category_title_gluten-free + 0.89*category_title_golf + 0.91*category_title_greek + 2.41*category_title_grocery + 0.07*category_title_hawaiian + -0.12*category_title_himalayan/nepalese + -1.24*category_title_hotels + 0.16*category_title_ice cream & frozen yogurt + -0.42*category_title_indian + 0.62*category_title_italian + 0.84*category_title_japanese + 0.87*category_title_juice bars & smoothies + -1.00*category_title_kebab + -1.11*category_title_korean + 3.84*category_title_laotian + -1.37*category_title_latin american + 0.02*category_title_malaysian + -0.77*category_title_mediterranean + -0.57*category_title_mexican + 1.26*category_title_middle eastern + 1.56*category_title_mini golf + -5.24*category_title_mongolian + 0.91*category_title_nail salons + -0.32*category_title_noodles + 0.66*category_title_organic stores + -0.72*category_title_pakistani + 0.65*category_title_persian/iranian + -1.47*category_title_peruvian + 1.35*category_title_pizza + 0.04*category_title_poke + 0.20*category_title_portuguese + -2.02*category_title_pubs + -0.91*category_title_ramen + 0.18*category_title_restaurants + -1.12*category_title_salad + -0.88*category_title_salvadoran + -0.55*category_title_sandwiches + 1.41*category_title_seafood + -0.78*category_title_skating rinks + 0.49*category_title_social clubs + -0.06*category_title_southern + -2.58*category_title_sports bars + 0.12*category_title_sports wear + -1.54*category_title_steakhouses + 0.32*category_title_sushi bars + 1.09*category_title_szechuan + 1.77*category_title_tacos + 3.62*category_title_taiwanese + 0.08*category_title_tapas/small plates + -1.59*category_title_tea rooms + 0.83*category_title_tex-mex + 2.85*category_title_thai + 1.74*category_title_vegan + 1.04*category_title_venezuelan + -1.27*category_title_venues & event spaces + 3.42*category_title_vietnamese + 1.40*category_title_wine bars + -0.84*category_title_wraps