## Wake County - Restaurant Food Inspections Analysis

In [43]:
# import pandas, numpy, matplotlib, seaborn 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# importing the requests library
import requests

# importing sklearn library for data pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression, mutual_info_regression, f_classif
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import r2_score

In [2]:
# !pip install ipynb
# !pip install auto-sklearn

### Resources
 1. [Restaurants in Wake County Data Info](https://www.arcgis.com/home/item.html?id=124c2187da8c41c59bde04fa67eb2872)
 2. [Wake County Open Data](https://data-wake.opendata.arcgis.com/search?tags=restaurants)
 3. [Food Inspection Violations Data Info](https://data.wakegov.com/datasets/Wake::food-inspection-violations/about)
 4. [Wake County Yelp Initiative](https://ash.harvard.edu/news/wake-county-yelp-initiative)
 5. [Yelp LIVES data](https://www.yelp.com/healthscores/feeds)

In [3]:
# the first time you run this, it will execute these, but run it again if you'd like
# warning: there's an issue where the arguments won't work so just use no-arg functions to pull
# from ipynb.fs.full.RestaurantInspectionsData import getFoodInspectionsDf, preprocess_inspections
# from ipynb.fs.full.WeatherData import getWeatherData, preprocess_weatherdata
# from ipynb.fs.full.YelpData import fetchYelpDataByPhone, preprocess_yelpdata
# from ipynb.fs.full.CrimeData import getCrimeDataDf, preprocess_crimedata

We're sourcing and pre-processing all the data in other notebooks and save the pre-processed data in csv files so we can load them into dataframes in our main file here. If you do want to source them from here, you're free to do so just uncomment the imports above so you can use the functions from the other notebooks.

## Fetch Restaurant Inspections

In [4]:
# food_inspections_raw = getFoodInspectionsDf()
inspectionsdf = pd.read_csv('preprocessed_inspections.csv')
print(inspectionsdf.shape)
inspectionsdf.head()

(27343, 8)

,OBJECTID,HSISID,SCORE,DATE,DESCRIPTION,TYPE,INSPECTOR,PERMITID
0,22236469,4092017542,95.0,2018-03-23,NaN,Inspection,Laura McNeill,367
1,22236470,4092017542,93.5,2018-09-07,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",Inspection,Laura McNeill,367
2,22236471,4092017542,93.0,2019-04-04,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,367
3,22236472,4092017542,93.5,2019-10-07,Follow-Up: 10/17/2019,Inspection,Naterra McQueen,367
4,22236473,4092017542,92.5,2020-05-19,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Naterra McQueen,367

## Fetch Restaurant Data

In [5]:
# restaurants = pd.read_csv('preprocessed_restaurants.csv', dtype={'PHONENUMBER': str})
restaurantsdf = pd.read_csv('preprocessed_restaurants.csv')
print(restaurantsdf.shape)
restaurantsdf.head()

(2385, 12)

,OBJECTID,HSISID,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,PERMITID,X,Y,GEOCODESTATUS
0,1891530,4092016487,PEACE CHINA,13220 Strickland RD,RALEIGH,27613,1.919677e+10,2013-08-14,2,-78.725938,35.908783,M
1,1891531,4092018622,Northside Bistro & Cocktails,832 SPRING FOREST RD,RALEIGH,27609,1.919891e+10,2021-05-13,22,-78.622635,35.866275,M
2,1891532,4092016155,DAILY PLANET CAFE,11 W JONES ST,RALEIGH,27601,1.919708e+10,2012-04-12,26,-78.639431,35.782205,M
3,1891533,4092016161,HIBACHI 88,3416 POOLE RD,RALEIGH,27610,1.919231e+10,2012-04-18,28,-78.579533,35.767246,M
4,1891534,4092017180,BOND BROTHERS BEER COMPANY,202 E CEDAR ST,CARY,27511,1.919459e+10,2016-03-11,29,-78.778021,35.787986,M

## Fetch violations

In [6]:
violationsdf = pd.read_csv('preprocessed_violations.csv')
print(violationsdf.shape)
violationsdf.head()

(178102, 15)

,OBJECTID,HSISID,INSPECTDATE,CATEGORY,CRITICAL,QUESTIONNO,VIOLATIONCODE,SEVERITY,SHORTDESC,INSPECTEDBY,COMMENTS,POINTVALUE,OBSERVATIONTYPE,VIOLATIONTYPE,CDCDATAITEM
0,188572810,4092017322,2020-07-10,Approved Source,NaN,9,3-201.11,NaN,Food obtained from approved source,Lauren Harden,3-201.11; PIC states that bakery items in disp...,0.0,OUT,NaN,Food shall be obtained from sources that compl...
1,188572819,4092110520,2018-03-05,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Laura McNeill,3-202.11; pans of reheated beef steak received...,1.0,OUT,CDI,Refrigerated food shall be at a temperature of...
2,188572820,4092017143,2018-08-20,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Jennifer Brown,3-202.11;Measured raw shell eggs at 49-50F upo...,0.0,OUT,CDI,Refrigerated food shall be at a temperature of...
3,188572821,4092110158,2019-02-20,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Kaitlyn Yow,3-202.11;,0.0,N/O,NaN,Refrigerated food shall be at a temperature of...
4,188572822,4092014259,2019-09-23,Approved Source,NaN,10,3-202.11,NaN,Food received at proper temperature,Laura McNeill,3-202.11; upon arrival the manager had receive...,0.0,OUT,NaN,Refrigerated food shall be at a temperature of...

## Fetch weather data

In [7]:
# weatherdata_raw = getWeatherData()
# weatherdata = preprocess_weatherdata(weatherdata_raw.copy())
weatherdatadf = pd.read_csv('preprocessed_weatherdata.csv')
print(weatherdatadf.shape)
weatherdatadf.head()

(1406, 2)

         date  TAVG
0  2018-01-01  22.0
1  2018-01-02  20.0
2  2018-01-03  21.0
3  2018-01-04  26.0
4  2018-01-05  21.0

## Fetch Yelp Ratings Data

In [8]:
# read in yelp and restaurant data
yelpdatadf = pd.read_csv('preprocessed_yelpdata.csv')
print(yelpdatadf.shape)
yelpdatadf.head()

(2145, 9)

,name,is_closed,review_count,categories,rating,price,location,phone,display_phone
0,Peace China,True,63,"[{'alias': 'chinese', 'title': 'Chinese'}]",3.5,$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968
1,Asian Cafe,True,7,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...",3.0,$$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968
2,Northside Bistro & Cocktails,False,23,"[{'alias': 'newamerican', 'title': 'American (...",4.5,NaN,"{'address1': '832 Spring Forest Rd', 'address2...",19198905225,(919) 890-5225
3,The Daily Planet Cafe,False,89,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,$$,"{'address1': '121 W Jones St', 'address2': '',...",19197078060,(919) 707-8060
4,Hibachi 88,False,46,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,$,"{'address1': '3416-100 Poole Rd', 'address2': ...",19192311688,(919) 231-1688

## Pull legend from YELP Lives

In [9]:
legend = pd.read_csv('YELP(LIVES)/legend.csv')
display(legend)

   minimum_score  maximum_score description
0             90            100           A
1             80             89           B
2             70             79           C
3             60             69           D
4              0             59           F

## Fetch crime data as proxy (daily police incidents)

In [10]:
# crime_data_raw = getCrimeDataDf()
# crimedatadf = preprocess_crimedata(crime_data_raw)
crimedatadf = pd.read_csv('preprocessed_crimedata.csv')
print(crimedatadf.shape)
crimedatadf.head()

(189202, 10)

,OBJECTID,crime_category,crime_code,crime_description,crime_type,city,reported_year,reported_month,reported_day,reported_dayofwk
0,12042,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,4,Sunday
1,12126,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,27,Tuesday
2,12130,MISCELLANEOUS,81B,Miscellaneous/Deceased Person,NaN,RALEIGH,2018,2,14,Wednesday
3,12142,MISCELLANEOUS,81E,Miscellaneous/Lost Property,NaN,RALEIGH,2018,1,2,Tuesday
4,12203,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,1,10,Wednesday

## Brainstorm Features

1.  Restaurant Data: POSTALCODE, RESTAURANTOPENDATE, X, Y, CITY
2.  Weather Data: Date (index), Avg Daily Hourly Temperature
3.  Restaurant Violations: the entirety / all features now

## Next Steps (we have T-minus 1 weeks) 

1.  Join tables by inspection. We want historical data per inspection and then we want to predict the risk scores for restaurants in high risk for future inspections. Note that although we have data around inspections by date, we don't really want to do a time series forecasting,bc time series forecasting sucks!
2.  Deal with missing values and encode variables 
3.  Feature engineering 
4.  Baseline model
5.  More complicated model
7.  Datasheets for datasets
8.  Hearsch - Ethical checklist 
9.  Visualizations and story telling!
10. Get started on a slideshow (FUN PART)

## Processing of data & feature engineering

## Combining DataFrames

In [11]:
# Create copy of original DataFrames
rest_inspect = inspectionsdf.copy()
rest_df = restaurantsdf.copy()
rest_violation = violationsdf.copy()
temp_df = weatherdatadf.copy()
yelp_df = yelpdatadf.copy()
score_legend = legend.copy()
crime_df = crimedatadf.copy()

## Merge restaurant data & inspections files

In [12]:
# Merged the inspectionsdf & restaurantsdf based on HSISID (which is primary key for identifying a resto)
final_df = rest_inspect.merge(rest_df, how='left', on=['HSISID'])
final_df.drop(['OBJECTID_x', 'OBJECTID_y', 'PERMITID_y', 'PERMITID_x'], axis=1, inplace=True)
print(final_df.shape)
final_df.head()

(27343, 15)

,HSISID,SCORE,DATE,DESCRIPTION,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS
0,4092017542,95.0,2018-03-23,NaN,Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
1,4092017542,93.5,2018-09-07,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
2,4092017542,93.0,2019-04-04,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
3,4092017542,93.5,2019-10-07,Follow-Up: 10/17/2019,Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
4,4092017542,92.5,2020-05-19,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M

## Merge all restaurant data with violations

In [13]:
pd.set_option('display.max_columns', None)
# Merge all the restaurant dataframes together with NaN values
#all_rest_df = rest_data.merge(rv, how='left', on=['HSISID'], indicator=True)
#all_rest_df.head()
#all_rest_df.tail()

## Playing around with Visuals (hearsch's playground -- do not touch)

In [14]:
#inspector_stats = final_df.groupby('INSPECTOR').agg({'SCORE':['mean','max','min']})
#inspector_stats

In [15]:
# create a figure and axis 
#fig, ax = plt.subplots() 
# count the occurrence of each class 
#data = final_df['SCORE'].value_counts().sort_index() 
# get x and y data 
#points = data.index 
#frequency = data.values 
# create bar chart 
#ax.bar(points, frequency)
# set title and labels 
#ax.set_title('Inspectors Average Score') 
#ax.set_xlabel('Points') 
#ax.set_ylabel('Frequency')
#ax.margins(x=0,y=0)

In [16]:
# View histogram of each feature amygdala and acc
#fig,ax = plt.subplots(2,2,figsize=(15,10))
#ax[0,0].hist(final_df['SCORE'],bins=10)
#ax[0,0].set_title('amygdala, bins=5')
#ax[0,1].hist(final_df['SCORE'],bins=10)
#ax[0,1].set_title('acc, bins=5')
#ax[1,0].hist(final_df['SCORE'],bins=20)
#ax[1,0].set_title('amygdala, bins=20')
#ax[1,1].hist(final_df['SCORE'],bins=20)
#ax[1,1].set_title('acc, bins=20')
#plt.show()

In [17]:
# Bar chart of counts for each inspection score given
#plt.figure(figsize=(12,10))
#final_df['SCORE'].value_counts().sort_index().plot(kind='bar')
#plt.tight_layout()
#plt.xlabel('Score')
#plt.ylabel('Frequency')
#plt.title('Average Inspection Scores')
#plt.show()

In [18]:
final_df.head()

,HSISID,SCORE,DATE,DESCRIPTION,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS
0,4092017542,95.0,2018-03-23,NaN,Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
1,4092017542,93.5,2018-09-07,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
2,4092017542,93.0,2019-04-04,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
3,4092017542,93.5,2019-10-07,Follow-Up: 10/17/2019,Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M
4,4092017542,92.5,2020-05-19,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.61376,35.754388,M

In [19]:
# merge temperature data
final = final_df.copy()
final = final.merge(temp_df, how='left', left_on='DATE', right_on='date')
final.drop(['date'], axis=1, inplace=True)
final

,HSISID,SCORE,DATE,DESCRIPTION,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS,TAVG
0,4092017542,95.0,2018-03-23,NaN,Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,42.0
1,4092017542,93.5,2018-09-07,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",Inspection,Laura McNeill,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,81.0
2,4092017542,93.0,2019-04-04,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,60.0
3,4092017542,93.5,2019-10-07,Follow-Up: 10/17/2019,Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,71.0
4,4092017542,92.5,2020-05-19,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Naterra McQueen,AMERICAN DELI,1601-11 CROSS LINK RD,RALEIGH,27610,1.919517e+10,2017-03-01,-78.613760,35.754388,M,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27338,4092017543,98.5,2021-05-27,NaN,Inspection,Maria Powell,Kardia,4420 Lake Boone TRL,RALEIGH,27607,NaN,2017-02-22,-78.702420,35.818172,M,80.0
27339,4092017543,98.0,2021-10-25,"Effective October 1, 2021, the North Carolina ...",Inspection,Meghan Scott,Kardia,4420 Lake Boone TRL,RALEIGH,27607,NaN,2017-02-22,-78.702420,35.818172,M,68.0
27340,4092018465,98.5,2020-12-30,NaN,Inspection,Ginger Johnson,Alpaca Peruvian Charcoal Chicken,1107 Pine Plaza Dr,APEX,27523,NaN,2020-10-14,-78.830266,35.746754,M,37.0
27341,4092018465,98.5,2021-03-16,NaN,Inspection,Ginger Johnson,Alpaca Peruvian Charcoal Chicken,1107 Pine Plaza Dr,APEX,27523,NaN,2020-10-14,-78.830266,35.746754,M,42.0
27342,4092018465,100.0,2021-06-25,Congratulations. Keep up the good work!,Inspection,Ginger Johnson,Alpaca Peruvian Charcoal Chicken,1107 Pine Plaza Dr,APEX,27523,NaN,2020-10-14,-78.830266,35.746754,M,69.0

In [20]:
# merge yelp data

yelp_df

,name,is_closed,review_count,categories,rating,price,location,phone,display_phone
0,Peace China,True,63,"[{'alias': 'chinese', 'title': 'Chinese'}]",3.5,$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968
1,Asian Cafe,True,7,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...",3.0,$$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968
2,Northside Bistro & Cocktails,False,23,"[{'alias': 'newamerican', 'title': 'American (...",4.5,NaN,"{'address1': '832 Spring Forest Rd', 'address2...",19198905225,(919) 890-5225
3,The Daily Planet Cafe,False,89,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,$$,"{'address1': '121 W Jones St', 'address2': '',...",19197078060,(919) 707-8060
4,Hibachi 88,False,46,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,$,"{'address1': '3416-100 Poole Rd', 'address2': ...",19192311688,(919) 231-1688
...,...,...,...,...,...,...,...,...,...
2140,Dunkin',False,58,"[{'alias': 'donuts', 'title': 'Donuts'}, {'ali...",1.5,$,"{'address1': '1501 Werrington Dr', 'address2':...",19192850958,(919) 285-0958
2141,Rosalini's Pizza And Subs,False,54,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,$$,"{'address1': '6210 Rogers Rd', 'address2': '',...",19194531466,(919) 453-1466
2142,Snoopy's Hot Dogs & More,False,45,"[{'alias': 'hotdog', 'title': 'Hot Dogs'}, {'a...",3.5,$,"{'address1': '2431 Spring Forest Rd', 'address...",19198763775,(919) 876-3775
2143,Subway,False,3,"[{'alias': 'sandwiches', 'title': 'Sandwiches'}]",3.5,$,"{'address1': '150 Fayetteville St', 'address2'...",19198280009,(919) 828-0009
2144,Bawarchi Grill & Spirits,False,117,"[{'alias': 'indpak', 'title': 'Indian'}]",4.5,$$,"{'address1': '800 W Williams St', 'address2': ...",19193639000,(919) 363-9000

In [21]:
yelp_df['name'].nunique()

1430

In [22]:
final["NAME"] = final["NAME"].str.lower()
yelp_df["name"] = yelp_df["name"].str.lower()
final = final.merge(yelp_df, left_on="NAME", right_on="name", how="left")

In [23]:
finaldf = final.copy()
finaldf.drop_duplicates(['DATE', 'HSISID'], inplace=True)
finaldf.drop(['display_phone','is_closed', 'name', 'DESCRIPTION', 'PHONENUMBER', 'location'], axis=1, inplace=True)
finaldf.dropna(subset=['review_count'], inplace=True)

In [24]:
finaldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5309 entries, 0 to 39721
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HSISID              5309 non-null   int64
 1   SCORE               5309 non-null   float64
 2   DATE                5309 non-null   object
 3   TYPE                5309 non-null   object
 4   INSPECTOR           5309 non-null   object
 5   NAME                5309 non-null   object
 6   ADDRESS1            5309 non-null   object
 7   CITY                5309 non-null   object
 8   POSTALCODE          5309 non-null   object
 9   RESTAURANTOPENDATE  5309 non-null   object
 10  X                   5309 non-null   float64
 11  Y                   5309 non-null   float64
 12  GEOCODESTATUS       5309 non-null   object
 13  TAVG                5309 non-null   float64
 14  review_count        5309 non-null   float64
 15  categories          5309 non-null   object
 16  rating              5309 non-null   float64
 17  price               4758 non-null   object
 18  phone               5309 non-null   float64
dtypes: float64(7), int64(1), object(11)
memory usage: 829.5+ KB

In [25]:
finaldf.head()

,HSISID,SCORE,DATE,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS,TAVG,review_count,categories,rating,price,phone
0,4092017542,95.0,2018-03-23,Inspection,Laura McNeill,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,42.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10
1,4092017542,93.5,2018-09-07,Inspection,Laura McNeill,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,81.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10
2,4092017542,93.0,2019-04-04,Inspection,Joanne Rutkofske,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,60.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10
3,4092017542,93.5,2019-10-07,Inspection,Naterra McQueen,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,71.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10
4,4092017542,92.5,2020-05-19,Inspection,Naterra McQueen,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.61376,35.754388,M,61.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10

In [26]:
crime_df.head()

,OBJECTID,crime_category,crime_code,crime_description,crime_type,city,reported_year,reported_month,reported_day,reported_dayofwk
0,12042,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,4,Sunday
1,12126,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,27,Tuesday
2,12130,MISCELLANEOUS,81B,Miscellaneous/Deceased Person,NaN,RALEIGH,2018,2,14,Wednesday
3,12142,MISCELLANEOUS,81E,Miscellaneous/Lost Property,NaN,RALEIGH,2018,1,2,Tuesday
4,12203,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,1,10,Wednesday

In [27]:
crimedf = crime_df.copy()
crimedf['reported_year'] = crimedf['reported_year'].astype(str)
crimedf['reported_month'] = crimedf['reported_month'].astype(str)
crimedf['reported_day'] = crimedf['reported_day'].astype(str)
crimedf['date'] = crimedf[['reported_year', 'reported_month', 'reported_day']].agg('-'.join, axis=1)
crimedf['date'] = pd.to_datetime(crimedf['date'])
crimedf

,OBJECTID,crime_category,crime_code,crime_description,crime_type,city,reported_year,reported_month,reported_day,reported_dayofwk,date
0,12042,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,4,Sunday,2018-02-04
1,12126,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,2,27,Tuesday,2018-02-27
2,12130,MISCELLANEOUS,81B,Miscellaneous/Deceased Person,NaN,RALEIGH,2018,2,14,Wednesday,2018-02-14
3,12142,MISCELLANEOUS,81E,Miscellaneous/Lost Property,NaN,RALEIGH,2018,1,2,Tuesday,2018-01-02
4,12203,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,RALEIGH,2018,1,10,Wednesday,2018-01-10
...,...,...,...,...,...,...,...,...,...,...,...
189197,652617,MISCELLANEOUS,81J,Miscellaneous/Overdose,NaN,RALEIGH,2021,11,8,Monday,2021-11-08
189198,652618,MISCELLANEOUS,81L,Miscellaneous/Suicide,NaN,RALEIGH,2021,11,3,Wednesday,2021-11-03
189199,652619,DRUG VIOLATIONS,54Z,Drug Equipment/Paraphernalia,CRIMES AGAINST SOCIETY,RALEIGH,2021,11,8,Monday,2021-11-08
189200,652620,DRUGS,54C,Drug Violation/Felony,CRIMES AGAINST SOCIETY,RALEIGH,2021,11,8,Monday,2021-11-08
189201,652621,LARCENY FROM MV,35F,Larceny/Theft from Motor Vehicle,CRIMES AGAINST PROPERTY,RALEIGH,2021,11,8,Monday,2021-11-08

In [28]:
print(crimedf['OBJECTID'].nunique())
crimedfagg = crimedf.groupby(['date']).size()
crimedfagg = pd.DataFrame(crimedfagg, columns=['crime_count']).reset_index()
display(crimedfagg)

189202

           date  crime_count
0    2018-01-01          122
1    2018-01-02          153
2    2018-01-03          161
3    2018-01-04           87
4    2018-01-05          101
...         ...          ...
1404 2021-11-05          144
1405 2021-11-06          130
1406 2021-11-07          128
1407 2021-11-08          184
1408 2021-11-09            5

[1409 rows x 2 columns]

In [29]:
featuretable = finaldf.copy()
featuretable['DATE'] = pd.to_datetime(featuretable['DATE'])
featuretable = featuretable.merge(crimedfagg, how='left', left_on='DATE', right_on='date')
featuretable=featuretable.drop(['date'], axis=1)
featuretable

,HSISID,SCORE,DATE,TYPE,INSPECTOR,NAME,ADDRESS1,CITY,POSTALCODE,RESTAURANTOPENDATE,X,Y,GEOCODESTATUS,TAVG,review_count,categories,rating,price,phone,crime_count
0,4092017542,95.0,2018-03-23,Inspection,Laura McNeill,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,42.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10,142
1,4092017542,93.5,2018-09-07,Inspection,Laura McNeill,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,81.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10,157
2,4092017542,93.0,2019-04-04,Inspection,Joanne Rutkofske,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,60.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10,145
3,4092017542,93.5,2019-10-07,Inspection,Naterra McQueen,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,71.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10,136
4,4092017542,92.5,2020-05-19,Inspection,Naterra McQueen,american deli,1601-11 CROSS LINK RD,RALEIGH,27610,2017-03-01,-78.613760,35.754388,M,61.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,1.919517e+10,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5304,4092017545,97.5,2021-01-14,Inspection,Zachary Carter,brewery bhavana,218 S BLOUNT ST,RALEIGH,27601,2017-03-06,-78.636924,35.777408,M,45.0,1025.0,"[{'alias': 'dimsum', 'title': 'Dim Sum'}, {'al...",4.5,$$,1.919830e+10,123
5305,4092017545,93.0,2021-09-29,Inspection,Joanne Rutkofske,brewery bhavana,218 S BLOUNT ST,RALEIGH,27601,2017-03-06,-78.636924,35.777408,M,72.0,1025.0,"[{'alias': 'dimsum', 'title': 'Dim Sum'}, {'al...",4.5,$$,1.919830e+10,146
5306,4092018465,98.5,2020-12-30,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,1107 Pine Plaza Dr,APEX,27523,2020-10-14,-78.830266,35.746754,M,37.0,219.0,"[{'alias': 'peruvian', 'title': 'Peruvian'}]",4.5,$$,1.919713e+10,164
5307,4092018465,98.5,2021-03-16,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,1107 Pine Plaza Dr,APEX,27523,2020-10-14,-78.830266,35.746754,M,42.0,219.0,"[{'alias': 'peruvian', 'title': 'Peruvian'}]",4.5,$$,1.919713e+10,137
5308,4092018465,100.0,2021-06-25,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,1107 Pine Plaza Dr,APEX,27523,2020-10-14,-78.830266,35.746754,M,69.0,219.0,"[{'alias': 'peruvian', 'title': 'Peruvian'}]",4.5,$$,1.919713e+10,156

In [59]:
# encode type, city, postalcode, convert to days since open, price
# convert score to yelp format 
featuretable.isna().sum()
finalfeat.dtypes

SCORE                 float64
DATE                   object
TYPE                   object
INSPECTOR              object
NAME                   object
CITY                   object
POSTALCODE             object
RESTAURANTOPENDATE     object
X                     float64
Y                     float64
TAVG                  float64
review_count          float64
categories             object
rating                float64
price                  object
crime_count             int64
dtype: object

In [65]:
finalfeat= featuretable.copy()
#finalfeat['DATE'] = finalfeat['DATE'].astype(object)
finalfeat['POSTALCODE'] = finalfeat['POSTALCODE'].str.split('-').str[0]

finalfeat['RESTAURANTOPENDATE'] = pd.to_datetime(finalfeat['RESTAURANTOPENDATE'])
basedate = pd.Timestamp('2021-01-01')
finalfeat['DAYS SINCE OPEN'] = (basedate - finalfeat['RESTAURANTOPENDATE']).dt.days
#finalfeat['DAYS OPEN SINCE INSPECTION'] = (finalfeat['DATE'] - finalfeat['RESTAURANTOPENDATE']).dt.days
finalfeat['DAYS OPEN SINCE INSPECTION'] = (pd.to_datetime(finalfeat['DATE']) - pd.to_datetime(finalfeat['RESTAURANTOPENDATE'])).dt.days
finalfeat['DATE'] = finalfeat['DATE'].astype(object)
finalfeat = finalfeat.drop(['phone','ADDRESS1','HSISID','GEOCODESTATUS','DATE', 'RESTAURANTOPENDATE'],axis=1)
finalfeat.CITY = finalfeat.CITY.str.lower()
finalfeat

,SCORE,TYPE,INSPECTOR,NAME,CITY,POSTALCODE,X,Y,TAVG,review_count,categories,rating,price,crime_count,DAYS SINCE OPEN,DAYS OPEN SINCE INSPECTION
0,95.0,Inspection,Laura McNeill,american deli,raleigh,27610,-78.613760,35.754388,42.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,142,1402,387
1,93.5,Inspection,Laura McNeill,american deli,raleigh,27610,-78.613760,35.754388,81.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,157,1402,555
2,93.0,Inspection,Joanne Rutkofske,american deli,raleigh,27610,-78.613760,35.754388,60.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,145,1402,764
3,93.5,Inspection,Naterra McQueen,american deli,raleigh,27610,-78.613760,35.754388,71.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,136,1402,950
4,92.5,Inspection,Naterra McQueen,american deli,raleigh,27610,-78.613760,35.754388,61.0,10.0,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",3.5,$,100,1402,1175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5304,97.5,Inspection,Zachary Carter,brewery bhavana,raleigh,27601,-78.636924,35.777408,45.0,1025.0,"[{'alias': 'dimsum', 'title': 'Dim Sum'}, {'al...",4.5,$$,123,1397,1410
5305,93.0,Inspection,Joanne Rutkofske,brewery bhavana,raleigh,27601,-78.636924,35.777408,72.0,1025.0,"[{'alias': 'dimsum', 'title': 'Dim Sum'}, {'al...",4.5,$$,146,1397,1668
5306,98.5,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,apex,27523,-78.830266,35.746754,37.0,219.0,"[{'alias': 'peruvian', 'title': 'Peruvian'}]",4.5,$$,164,79,77
5307,98.5,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,apex,27523,-78.830266,35.746754,42.0,219.0,"[{'alias': 'peruvian', 'title': 'Peruvian'}]",4.5,$$,137,79,153
5308,100.0,Inspection,Ginger Johnson,alpaca peruvian charcoal chicken,apex,27523,-78.830266,35.746754,69.0,219.0,"[{'alias': 'peruvian', 'title': 'Peruvian'}]",4.5,$$,156,79,254

In [46]:
score_legend.head()

   minimum_score  maximum_score description
0             90            100           A
1             80             89           B
2             70             79           C
3             60             69           D
4              0             59           F

In [ ]:
def add_labels(legend_df,final_df label_dict):
    df['label'] = np.nan
    for i in range(len(finalfeat)):
        legend_df = final_df
finalfeat['SCORE GRADE'] = final

In [38]:
# created function for splitting data 
def split_data(df):
    # Split data into train and test sets
    X = df.drop('SCORE',axis=1)
    y = df['SCORE']
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
    return X_train,X_test,y_train,y_test

X_train, X_test, y_train, y_test = split_data(featuretable)

### Build pipeline
Let's create a pipeline from all the preprocessing and modeling steps for our problem.  Below are the steps we will need to incldue for our pipeline for this problem:  
- **Data preprocessing:**  
    - Numerical features:  
        - Fill missing data with median value of feature
        - Standardize each feature. 
    - Categorical features:  
        - Fill missing data with mode value of feature  
        - One-hot encode values for each feature. 
- **Modeling:**  
    - Train a linear regression model on the data
    
We can create two transformer pipelines for the preprocessing of the numerical features and the categorical features, and combine them using `ColumnTransformer` to apply them to the numerical features and categorical features respectively.  We can then place our `ColumnTransformer` in a pipeline together with our model (`LinearRegression`).  

We fit the entire pipeline on our training data (X_train and y_train) using `pipeline.fit(X_train,y_train)`.  Once our pipeline is fitted, we can then apply it to new data using `pipeline.predict(new_data)`.  The preprocessing steps in the pipeline are first applied to the new data and then the processed data is fed into the LinearRegression model to generate predictions.

In [45]:
# # Convert all to object dtype
# for feat in numeric_features:
#     featuretable[feat]=featuretable[feat].astype(object)

# Create transformer for numeric features
# Fill missing values with median and then scale
numeric_features = [ 'review_count', 'crime_count']

numeric_transformer = Pipeline(steps=
                               [("fill_missing", SimpleImputer(strategy="median")), 
                                ("scaler", StandardScaler())])

# Create transformer for categorical features
# Fill missing values with mode and then one-hot encode
categorical_features = ['TYPE', 'INSPECTOR', 'NAME', 
                        'CITY', 'categories', 'price','DATE', 'rating']

# Convert all to strings
for feat in categorical_features:
    featuretable[feat]=featuretable[feat].astype(str)
# Create transformer pipeline for categorical data
categorical_transformer = Pipeline(steps=
                                   [("fill_missing",SimpleImputer(strategy="most_frequent")),
                                    ("encoder",OneHotEncoder(handle_unknown="ignore"))])

# Combine the two transformers into single ColumnTransformer preprocessor
preprocessor = ColumnTransformer(transformers=
                                 [("num", numeric_transformer, numeric_features),
                                  ("cat", categorical_transformer, categorical_features)])

# Create pipeline with preprocessor and model
model_pipeline = Pipeline(steps=[("preprocessor", preprocessor), ("model", LinearRegression())])

# Fit the pipeline on the training data
model_pipeline.fit(X_train, y_train)

# Use the pipeline to get predictions on test set and evaluate
test_preds = model_pipeline.predict(X_test)
r2 = r2_score(y_test,test_preds)
print("R-squared on test set: {:.3f}".format(r2))

R-squared on test set: 0.373

In [34]:
featuretable.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5309 entries, 0 to 5308
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HSISID              5309 non-null   int64
 1   SCORE               5309 non-null   float64
 2   DATE                5309 non-null   object
 3   TYPE                5309 non-null   object
 4   INSPECTOR           5309 non-null   object
 5   NAME                5309 non-null   object
 6   ADDRESS1            5309 non-null   object
 7   CITY                5309 non-null   object
 8   POSTALCODE          5309 non-null   object
 9   RESTAURANTOPENDATE  5309 non-null   object
 10  X                   5309 non-null   float64
 11  Y                   5309 non-null   float64
 12  GEOCODESTATUS       5309 non-null   object
 13  TAVG                5309 non-null   float64
 14  review_count        5309 non-null   float64
 15  categories          5309 non-null   object
 16  rating              5309 non-null   float64
 17  price               5309 non-null   object
 18  phone               5309 non-null   float64
 19  crime_count         5309 non-null   int64
dtypes: float64(7), int64(2), object(11)
memory usage: 871.0+ KB