## Wake County - Restaurant Food Inspections Analysis

In [29]:
# import pandas, numpy, matplotlib, seaborn 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# importing the requests library
import requests

### Resources
 1. [Restaurants in Wake County Data Info](https://www.arcgis.com/home/item.html?id=124c2187da8c41c59bde04fa67eb2872)
 2. [Wake County Open Data](https://data-wake.opendata.arcgis.com/search?tags=restaurants)
 3. [Food Inspection Violations Data Info](https://data.wakegov.com/datasets/Wake::food-inspection-violations/about)
 4. [Wake County Yelp Initiative](https://ash.harvard.edu/news/wake-county-yelp-initiative)
 5. [Yelp LIVES data](https://www.yelp.com/healthscores/feeds)

In [40]:
# pip install ipynb if this fails
# the first time you run this, it will execute these, but run it again if you'd like
from ipynb.fs.full.RestaurantInspectionsData import getFoodInspectionsDf, preprocess_inspections
from ipynb.fs.full.RestaurantsData import getRestaurantsDf, preprocess_restaurants
from ipynb.fs.fullRestaurantViolationsData import getViolationsDf, preprocess_violations

## Fetch Inspections

In [41]:
food_inspections_raw = getFoodInspectionsDf()
inspections = preprocess_inspections(food_inspections_raw.copy())
inspections.head()

,OBJECTID,HSISID,SCORE,DATE,DESCRIPTION,TYPE,INSPECTOR,PERMITID
0,21950255,04092017542,93.0,2019-04-04,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Joanne Rutkofske,33
1,21950256,04092017542,93.5,2019-10-07,Follow-Up: 10/17/2019,Inspection,Naterra McQueen,33
2,21950257,04092017542,92.5,2020-05-19,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",Inspection,Naterra McQueen,33
3,21950258,04092017542,94.0,2020-10-09,PIC cannot sign due to COVID-19 concerns.,Inspection,Nicole Millard,33
4,21950259,04092017542,94.0,2021-03-24,PIC cannot sign due to COVID-19 concerns.,Inspection,Nicole Millard,33

## Fetch Restaurants

In [42]:
restaurants_raw = getRestaurantsDf()
restaurants = preprocess_restaurants(restaurants_raw.copy())
restaurants.head()

Using pre-fetched restaurants data
restaurants df shape: (3641, 15)
Dropping columns with more than 25% missing values: Index(['ADDRESS2'], dtype='object')
OBJECTID              0.0
HSISID                0.0
NAME                  0.0
ADDRESS1              0.0
CITY                  0.0
POSTALCODE            0.0
RESTAURANTOPENDATE    0.0
PERMITID              0.0
X                     0.0
Y                     0.0
GEOCODESTATUS         0.0
dtype: float64

,OBJECTID,HSISID,NAME,ADDRESS1,CITY,POSTALCODE,RESTAURANTOPENDATE,PERMITID,X,Y,GEOCODESTATUS
0,1891530,4092016487,PEACE CHINA,13220 Strickland RD,RALEIGH,27613,2013-08-14,2,-78.725938,35.908783,M
1,1891531,4092018622,Northside Bistro & Cocktails,832 SPRING FOREST RD,RALEIGH,27609,2021-05-13,22,-78.622635,35.866275,M
2,1891532,4092016155,DAILY PLANET CAFE,11 W JONES ST,RALEIGH,27601,2012-04-12,26,-78.639431,35.782205,M
3,1891533,4092016161,HIBACHI 88,3416 POOLE RD,RALEIGH,27610,2012-04-18,28,-78.579533,35.767246,M
4,1891534,4092017180,BOND BROTHERS BEER COMPANY,202 E CEDAR ST,CARY,27511,2016-03-11,29,-78.778021,35.787986,M

## Fetch violations

In [43]:
violations_raw = getViolationsDf()
violations = preprocess_violations(violations_raw.copy())
violations.head()

Using pre-fetched violations data
violations df shape: (1681260, 18)

,OBJECTID,HSISID,INSPECTDATE,CATEGORY,STATECODE,CRITICAL,QUESTIONNO,VIOLATIONCODE,SEVERITY,SHORTDESC,INSPECTEDBY,COMMENTS,POINTVALUE,OBSERVATIONTYPE,VIOLATIONTYPE,CDCDATAITEM,PERMITID
26,186468705,4092025252,2020-01-24,Approved Source,".2653,.2655",NaN,9,3-201.11,NaN,Food obtained from approved source,David Adcock,3-201.11; Some of the lamb was purchased from ...,1.0,Out,NaN,Food shall be obtained from sources that compl...,18067
27,186468706,4092030492,2021-06-14,Approved Source,".2653,.2655",NaN,9,3-201.11,NaN,Food obtained from approved source,David Adcock,3-201.11;(B)Employees stated that when they ne...,1.0,Out,NaN,Food shall be obtained from sources that compl...,15779
36,186468715,4092110158,2019-02-20,Approved Source,".2653,.2655",NaN,10,3-202.11,NaN,Food received at proper temperature,Kaitlyn Yow,3-202.11;,0.0,N/O,NaN,Refrigerated food shall be at a temperature of...,11926
37,186468716,4092010218,2019-05-24,Approved Source,".2653,.2655",NaN,10,3-202.11,NaN,Food received at proper temperature,Jackson Hooton,3-202.11; Priority; Box of diced tomatoes was ...,0.0,Out,CDI,Refrigerated food shall be at a temperature of...,4038
38,186468717,4092014259,2019-09-23,Approved Source,".2653,.2655",NaN,10,3-202.11,NaN,Food received at proper temperature,Laura McNeill,3-202.11; upon arrival the manager had receive...,0.0,Out,NaN,Refrigerated food shall be at a temperature of...,14777