In [3]:
# import pandas, numpy, matplotlib, seaborn 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# importing the requests library
import requests

import urllib.request
from pathlib import Path
import os

## Import restaurant rating & price metadata from Yelp

In [4]:
def fetchYelpDataByNameDeprecated(forceFetch=False):
    path = Path()
    key = 'yelpdataraw.csv'
    filename = path/key

    # If the file does not already exist in the directory, download it
    if os.path.exists(filename) and not forceFetch:
        print('Using pre-fetched yelp data data')
        df = pd.read_csv(key)
        print('yelpdataraw df shape:', df.shape)
        return df
    else:
        print('fetching yelp data (will take a WHILE...)')
        headers = {
                  'Authorization': 'Bearer fbjk5LoGjzDn2AFwwp3RYnCpYsKbNoeQiVSd4A_kyf2TvFHsYyU9r4hZ7l8qgQS2Shxak3RR8EvFC-ZA1nyI_AXHJgfMwNVVRVUEiJV1IsXvD8kY8ugF4t4GbJR9YXYx'
                }
        # read restdata 
        rests = pd.read_csv('preprocessed_restaurants.csv', dtype={'PHONENUMBER': str})
        rows = []
        ids = []
        for restName in rests['NAME']:
                restName = restName.split("#")[0].strip() #to remove whitespace and remove #XXXX from chains 
                url = f"https://api.yelp.com/v3/businesses/search?term={restName}&location=Wake County&limit=50"
                try:
                    response = requests.request("GET", url, headers=headers).json()

                    if response['businesses']:
                        data = response['businesses']
                        for d in data:
                            if d['id'] not in ids:
                                rows.append(d)
                                ids.append(d['id'])
                except:
                    print('Continuing. Error fetching for restName=', restName)
        print('done fetching data')
        df = pd.DataFrame(rows)
        df.to_csv('yelpdataraw.csv', index=False)
        df = df.drop_duplicates(subset=['id'])
        print('Done')
        return df

In [89]:
def fetchYelpDataByPhone(forceFetch=False):
    path = Path()
    key = 'yelpdataraw.csv'
    filename = path/key

    # If the file does not already exist in the directory, download it
    if os.path.exists(filename) and not forceFetch:
        print('Using pre-fetched yelp dat')
        df = pd.read_csv(key)
        print('yelpdataraw df shape:', df.shape)
        return df
    else:
        print('fetching yelp data by phone (this will take a WHILE...X_X)')
        headers = {
                  'Authorization': 'Bearer fjdbfEV0kvgw9OV702-ml_8hzNdrv6Ird-HC9FvQon3ndvoepkBhlv7--R09I0i2BEE0_MxmxKA0ad86LvNxJRu14zrWFbVkC6oH6_4pltVfWvU9tdcQ7FM5aKB0YXYx'
                }
        # read restdata 
        rests = pd.read_csv('preprocessed_restaurants.csv', dtype={'PHONENUMBER': str})
        rows = []
        ids = []
        print('Total:', len(rests['PHONENUMBER']))
        for phone in rests['PHONENUMBER']:
                if len(ids)%100 == 0:
                    print('Aggregating next 100 rows...')
                if phone != None and str(phone).strip() != 'nan':
                    url = f"https://api.yelp.com/v3/businesses/search/phone?phone={phone}"
                    try:
                        response = requests.request("GET", url, headers=headers).json()

                        if response['businesses']:
                            data = response['businesses']
                            for d in data:
                                if d['id'] not in ids:
                                    rows.append(d)
                                    ids.append(d['id'])
                    except:
                        print('Continuing. Error fetching restaurant for phone=', phone)
        print('done fetching data...')
        df = pd.DataFrame(rows)
        print('data will be persisted in yelpdataraw.csv')
        df.to_csv('yelpdataraw.csv', index=False)
        print('Done')
        return df

In [90]:
df = fetchYelpDataByPhone(forceFetch=False)

Using pre-fetched yelp dat
yelpdataraw df shape: (2145, 15)

In [91]:
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone
0,RjELMSrh2DuTBJQ4YpzXUA,peace-china-raleigh-2,Peace China,https://s3-media0.fl.yelpcdn.com/bphoto/8pWw6x...,True,https://www.yelp.com/biz/peace-china-raleigh-2...,63,"[{'alias': 'chinese', 'title': 'Chinese'}]",3.5,"{'latitude': 35.90946322502375, 'longitude': -...","['delivery', 'pickup']",$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968
1,OXdKUXoDnjLGpNW9Go1e8A,asian-cafe-raleigh,Asian Cafe,NaN,True,https://www.yelp.com/biz/asian-cafe-raleigh?ad...,7,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...",3.0,"{'latitude': 35.906972810626, 'longitude': -78...",[],$$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968
2,wDZG-Ry6IcC_QITBLBPHxQ,northside-bistro-and-cocktails-raleigh,Northside Bistro & Cocktails,https://s3-media0.fl.yelpcdn.com/bphoto/CGb1Gs...,False,https://www.yelp.com/biz/northside-bistro-and-...,23,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 35.86631037241957, 'longitude': -...",[],NaN,"{'address1': '832 Spring Forest Rd', 'address2...",19198905225,(919) 890-5225
3,-qCrGWYePySXmcngRhal4Q,the-daily-planet-cafe-raleigh,The Daily Planet Cafe,https://s3-media0.fl.yelpcdn.com/bphoto/YM1ZTo...,False,https://www.yelp.com/biz/the-daily-planet-cafe...,89,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,"{'latitude': 35.7823492580703, 'longitude': -7...",['delivery'],$$,"{'address1': '121 W Jones St', 'address2': '',...",19197078060,(919) 707-8060
4,21FAnridQkQCJMM_PfyfcA,hibachi-88-raleigh,Hibachi 88,https://s3-media0.fl.yelpcdn.com/bphoto/sjRGZe...,False,https://www.yelp.com/biz/hibachi-88-raleigh?ad...,46,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,"{'latitude': 35.76724, 'longitude': -78.57953}","['delivery', 'pickup']",$,"{'address1': '3416-100 Poole Rd', 'address2': ...",19192311688,(919) 231-1688

In [96]:
#read in yelp and restaurant data
restaurants = pd.read_csv('preprocessed_restaurants.csv', dtype={'PHONENUMBER': str})
restaurants['PHONENUMBER'] = restaurants['PHONENUMBER'].str.split('+').str[1]

In [97]:
restaurants.head()

,OBJECTID,HSISID,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,PERMITID,X,Y,GEOCODESTATUS
0,1891530,4092016487,PEACE CHINA,13220 Strickland RD,RALEIGH,27613,19196769968,2013-08-14,2,-78.725938,35.908783,M
1,1891531,4092018622,Northside Bistro & Cocktails,832 SPRING FOREST RD,RALEIGH,27609,19198905225,2021-05-13,22,-78.622635,35.866275,M
2,1891532,4092016155,DAILY PLANET CAFE,11 W JONES ST,RALEIGH,27601,19197078060,2012-04-12,26,-78.639431,35.782205,M
3,1891533,4092016161,HIBACHI 88,3416 POOLE RD,RALEIGH,27610,19192311688,2012-04-18,28,-78.579533,35.767246,M
4,1891534,4092017180,BOND BROTHERS BEER COMPANY,202 E CEDAR ST,CARY,27511,19194592670,2016-03-11,29,-78.778021,35.787986,M

In [98]:
df.head()
df.isna().sum()

id                 0
alias              0
name               0
image_url         44
is_closed          0
url                0
review_count       0
categories         0
rating             0
coordinates        0
transactions       0
price            370
location           0
phone              0
display_phone      0
dtype: int64

In [99]:
restaurants.head()
restaurants.isna().sum()

OBJECTID               0
HSISID                 0
NAME                   0
ADDRESS1               0
CITY                   0
POSTALCODE             0
PHONENUMBER           91
RESTAURANTOPENDATE     0
PERMITID               0
X                      0
Y                      0
GEOCODESTATUS          0
dtype: int64

In [111]:
#match data
df['phone'] = df['phone'].astype(str)
yelpmatch_phone = pd.merge(restaurants, df, how='right', left_on='PHONENUMBER', right_on='phone')
yelpmatch_phone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2201 entries, 0 to 2200
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            2201 non-null   int64
 1   HSISID              2201 non-null   int64
 2   NAME                2201 non-null   object
 3   ADDRESS1            2201 non-null   object
 4   CITY                2201 non-null   object
 5   POSTALCODE          2201 non-null   object
 6   PHONENUMBER         2201 non-null   object
 7   RESTAURANTOPENDATE  2201 non-null   object
 8   PERMITID            2201 non-null   int64
 9   X                   2201 non-null   float64
 10  Y                   2201 non-null   float64
 11  GEOCODESTATUS       2201 non-null   object
 12  id                  2201 non-null   object
 13  alias               2201 non-null   object
 14  name                2201 non-null   object
 15  image_url           2140 non-null   object
 16  is_closed           2201 non-null   bool
 17  url                 2201 non-null   object
 18  review_count        2201 non-null   int64
 19  categories          2201 non-null   object
 20  rating              2201 non-null   float64
 21  coordinates         2201 non-null   object
 22  transactions        2201 non-null   object
 23  price               1795 non-null   object
 24  location            2201 non-null   object
 25  phone               2201 non-null   object
 26  display_phone       2201 non-null   object
dtypes: bool(1), float64(3), int64(4), object(19)
memory usage: 466.4+ KB

In [112]:
yelpmatch_phone.head()

,OBJECTID,HSISID,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,PERMITID,X,...,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone
0,1891530,4092016487,PEACE CHINA,13220 Strickland RD,RALEIGH,27613,19196769968,2013-08-14,2,-78.725938,...,https://www.yelp.com/biz/peace-china-raleigh-2...,63,"[{'alias': 'chinese', 'title': 'Chinese'}]",3.5,"{'latitude': 35.90946322502375, 'longitude': -...","['delivery', 'pickup']",$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968
1,1891530,4092016487,PEACE CHINA,13220 Strickland RD,RALEIGH,27613,19196769968,2013-08-14,2,-78.725938,...,https://www.yelp.com/biz/asian-cafe-raleigh?ad...,7,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...",3.0,"{'latitude': 35.906972810626, 'longitude': -78...",[],$$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968
2,1891531,4092018622,Northside Bistro & Cocktails,832 SPRING FOREST RD,RALEIGH,27609,19198905225,2021-05-13,22,-78.622635,...,https://www.yelp.com/biz/northside-bistro-and-...,23,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 35.86631037241957, 'longitude': -...",[],NaN,"{'address1': '832 Spring Forest Rd', 'address2...",19198905225,(919) 890-5225
3,1891532,4092016155,DAILY PLANET CAFE,11 W JONES ST,RALEIGH,27601,19197078060,2012-04-12,26,-78.639431,...,https://www.yelp.com/biz/the-daily-planet-cafe...,89,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,"{'latitude': 35.7823492580703, 'longitude': -7...",['delivery'],$$,"{'address1': '121 W Jones St', 'address2': '',...",19197078060,(919) 707-8060
4,1891533,4092016161,HIBACHI 88,3416 POOLE RD,RALEIGH,27610,19192311688,2012-04-18,28,-78.579533,...,https://www.yelp.com/biz/hibachi-88-raleigh?ad...,46,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,"{'latitude': 35.76724, 'longitude': -78.57953}","['delivery', 'pickup']",$,"{'address1': '3416-100 Poole Rd', 'address2': ...",19192311688,(919) 231-1688

In [113]:
yelpmatch_phone.drop_duplicates(subset=['HSISID'], inplace=True)

In [114]:
yelpmatch_phone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1920 entries, 0 to 2200
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            1920 non-null   int64
 1   HSISID              1920 non-null   int64
 2   NAME                1920 non-null   object
 3   ADDRESS1            1920 non-null   object
 4   CITY                1920 non-null   object
 5   POSTALCODE          1920 non-null   object
 6   PHONENUMBER         1920 non-null   object
 7   RESTAURANTOPENDATE  1920 non-null   object
 8   PERMITID            1920 non-null   int64
 9   X                   1920 non-null   float64
 10  Y                   1920 non-null   float64
 11  GEOCODESTATUS       1920 non-null   object
 12  id                  1920 non-null   object
 13  alias               1920 non-null   object
 14  name                1920 non-null   object
 15  image_url           1883 non-null   object
 16  is_closed           1920 non-null   bool
 17  url                 1920 non-null   object
 18  review_count        1920 non-null   int64
 19  categories          1920 non-null   object
 20  rating              1920 non-null   float64
 21  coordinates         1920 non-null   object
 22  transactions        1920 non-null   object
 23  price               1618 non-null   object
 24  location            1920 non-null   object
 25  phone               1920 non-null   object
 26  display_phone       1920 non-null   object
dtypes: bool(1), float64(3), int64(4), object(19)
memory usage: 406.9+ KB

In [115]:
yelpmatch_phone.head()

,OBJECTID,HSISID,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,PERMITID,X,...,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone
0,1891530,4092016487,PEACE CHINA,13220 Strickland RD,RALEIGH,27613,19196769968,2013-08-14,2,-78.725938,...,https://www.yelp.com/biz/peace-china-raleigh-2...,63,"[{'alias': 'chinese', 'title': 'Chinese'}]",3.5,"{'latitude': 35.90946322502375, 'longitude': -...","['delivery', 'pickup']",$,"{'address1': '13220 Strickland Rd', 'address2'...",19196769968,(919) 676-9968
2,1891531,4092018622,Northside Bistro & Cocktails,832 SPRING FOREST RD,RALEIGH,27609,19198905225,2021-05-13,22,-78.622635,...,https://www.yelp.com/biz/northside-bistro-and-...,23,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 35.86631037241957, 'longitude': -...",[],NaN,"{'address1': '832 Spring Forest Rd', 'address2...",19198905225,(919) 890-5225
3,1891532,4092016155,DAILY PLANET CAFE,11 W JONES ST,RALEIGH,27601,19197078060,2012-04-12,26,-78.639431,...,https://www.yelp.com/biz/the-daily-planet-cafe...,89,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,"{'latitude': 35.7823492580703, 'longitude': -7...",['delivery'],$$,"{'address1': '121 W Jones St', 'address2': '',...",19197078060,(919) 707-8060
4,1891533,4092016161,HIBACHI 88,3416 POOLE RD,RALEIGH,27610,19192311688,2012-04-18,28,-78.579533,...,https://www.yelp.com/biz/hibachi-88-raleigh?ad...,46,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,"{'latitude': 35.76724, 'longitude': -78.57953}","['delivery', 'pickup']",$,"{'address1': '3416-100 Poole Rd', 'address2': ...",19192311688,(919) 231-1688
5,1891534,4092017180,BOND BROTHERS BEER COMPANY,202 E CEDAR ST,CARY,27511,19194592670,2016-03-11,29,-78.778021,...,https://www.yelp.com/biz/bond-brothers-beer-co...,179,"[{'alias': 'beergardens', 'title': 'Beer Garde...",4.0,"{'latitude': 35.7881885091418, 'longitude': -7...",['delivery'],$$,"{'address1': '202 E Cedar St', 'address2': '',...",19194592670,(919) 459-2670

In [118]:
yelpmatch_phone.head()

,OBJECTID,HSISID,NAME,ADDRESS1,CITY,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,PERMITID,X,...,id,alias,name,image_url,is_closed,url,review_count,categories,rating,price
0,1891530,4092016487,PEACE CHINA,13220 Strickland RD,RALEIGH,27613,19196769968,2013-08-14,2,-78.725938,...,RjELMSrh2DuTBJQ4YpzXUA,peace-china-raleigh-2,Peace China,https://s3-media0.fl.yelpcdn.com/bphoto/8pWw6x...,True,https://www.yelp.com/biz/peace-china-raleigh-2...,63,"[{'alias': 'chinese', 'title': 'Chinese'}]",3.5,$
2,1891531,4092018622,Northside Bistro & Cocktails,832 SPRING FOREST RD,RALEIGH,27609,19198905225,2021-05-13,22,-78.622635,...,wDZG-Ry6IcC_QITBLBPHxQ,northside-bistro-and-cocktails-raleigh,Northside Bistro & Cocktails,https://s3-media0.fl.yelpcdn.com/bphoto/CGb1Gs...,False,https://www.yelp.com/biz/northside-bistro-and-...,23,"[{'alias': 'newamerican', 'title': 'American (...",4.5,NaN
3,1891532,4092016155,DAILY PLANET CAFE,11 W JONES ST,RALEIGH,27601,19197078060,2012-04-12,26,-78.639431,...,-qCrGWYePySXmcngRhal4Q,the-daily-planet-cafe-raleigh,The Daily Planet Cafe,https://s3-media0.fl.yelpcdn.com/bphoto/YM1ZTo...,False,https://www.yelp.com/biz/the-daily-planet-cafe...,89,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,$$
4,1891533,4092016161,HIBACHI 88,3416 POOLE RD,RALEIGH,27610,19192311688,2012-04-18,28,-78.579533,...,21FAnridQkQCJMM_PfyfcA,hibachi-88-raleigh,Hibachi 88,https://s3-media0.fl.yelpcdn.com/bphoto/sjRGZe...,False,https://www.yelp.com/biz/hibachi-88-raleigh?ad...,46,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,$
5,1891534,4092017180,BOND BROTHERS BEER COMPANY,202 E CEDAR ST,CARY,27511,19194592670,2016-03-11,29,-78.778021,...,eG8mLFHm6BQ9GHsemO-ShQ,bond-brothers-beer-company-cary-2,Bond Brothers Beer Company,https://s3-media0.fl.yelpcdn.com/bphoto/m1MGFb...,False,https://www.yelp.com/biz/bond-brothers-beer-co...,179,"[{'alias': 'beergardens', 'title': 'Beer Garde...",4.0,$$

In [119]:
#write to csv
yelpmatch_phone.to_csv('yelpmatch_phone.csv')