In [1]:
# import pandas, numpy, matplotlib, seaborn 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# importing the requests library
import requests

In [2]:
# https://www.yelp.com/healthscores#format

In [4]:
businesses = pd.read_csv('YELP(LIVES)/businesses.csv')

In [5]:
businesses.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number
0,000D0B7A-3048-98E7-046FBA1DC52B6D55,SUBWAY #12460,706 W PEACE ST,RALEIGH,NC,27605,NaN,NaN,1.919834e+10
1,00365192-A8F6-87E1-4D85FECDC569C6AB,CHECKERS PIZZA,2810 HILLSBOROUGH ST,RALEIGH,NC,27607,NaN,NaN,1.919833e+10
2,003B5816-EB2D-98FB-BB9A47422343117B,AVIATOR TASTING ROOM,209 TECHNOLOGY PARK LN,FUQUAY VARINA,NC,27526,NaN,NaN,1.919567e+10
3,0046D7E0-5056-A20B-FA728F89DE72F101,TAMARIND,8531-109 BRIER CREEK PKY,RALEIGH,NC,27617,NaN,NaN,1.919406e+10
4,004B7CC3-9291-1A30-0887F2F9A7C9FEE5,Johnny's Pizza,1763 W Williams ST,APEX,NC,27523,NaN,NaN,1.111111e+14

In [14]:
businesses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4158 entries, 0 to 4157
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   4158 non-null   object
 1   name          4158 non-null   object
 2   address       4158 non-null   object
 3   city          4158 non-null   object
 4   state         4158 non-null   object
 5   postal_code   4158 non-null   object
 6   latitude      0 non-null      float64
 7   longitude     0 non-null      float64
 8   phone_number  4025 non-null   float64
dtypes: float64(3), object(6)
memory usage: 292.5+ KB

In [8]:
feed = pd.read_csv('YELP(LIVES)/feed_info.csv')
feed.head()

,feed_date,feed_version,municipality_name,municipality_url,contact_name
0,2021-10-17,0.4.1,Wake County,http://www.wakegov.com/,dba.ms.sql@wakegov.com

In [9]:
inspections = pd.read_csv('YELP(LIVES)/inspections.csv')
inspections.head()

,business_id,score,date,description,type
0,75BFDC7E-E8CC-3490-B868DAE86D0DE58C,100.0,20121024.0,NaN,routine
1,011A703F-D8CE-C53D-62B3073DF4809ED4,100.0,20121025.0,NaN,routine
2,336355FE-0EBF-2BD9-89C16910AA2049DC,100.0,20121030.0,NaN,routine
3,500941,100.0,20121106.0,NaN,routine
4,23D6E1F8-DFC2-9B9C-55422A411A405AF7,100.0,20121109.0,NaN,routine

In [16]:
inspections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40115 entries, 0 to 40114
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  40115 non-null  object
 1   score        39842 non-null  float64
 2   date         40114 non-null  float64
 3   description  0 non-null      float64
 4   type         40112 non-null  object
dtypes: float64(3), object(2)
memory usage: 1.5+ MB

In [11]:
legend = pd.read_csv('YELP(LIVES)/legend.csv')
legend.head()

   minimum_score  maximum_score description
0             90            100           A
1             80             89           B
2             70             79           C
3             60             69           D
4              0             59           F

In [13]:
violations = pd.read_csv('YELP(LIVES)/violations.csv')
violations.head(20)

,business_id,date,code,description
0,00365192-A8F6-87E1-4D85FECDC569C6AB,20130208.0,6-501.19,"Toilet room doors shall be kept closed, as spe..."
1,00365192-A8F6-87E1-4D85FECDC569C6AB,20130208.0,7-209.11,Storage - Other Personal Care Items
2,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,2-102.12,At least one employee shall be a Certified Foo...
3,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,2-103.11 (M),Person in charge is aware of their responsibil...
4,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,2-402.11,Food employees shall wear hair restraints such...
5,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,3-302.11,Food shall be protected from cross contaminati...
6,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,3-302.12,Working containers holding food or food ingred...
7,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,3-501.15,Cooling methods shall be effective.
8,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,3-501.16(A)(1),Potentially Hazardous Food(Time/Temp Control f...
9,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,3-501.19,Time as a Public Health Control
10,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,4-402.11,"Fixed Equipment, Spacing or Sealing"
11,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,5-202.13,"Backflow Prevention, Air Gap"
12,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,6-201.12,"Floors, Walls, and Ceilings, Utility Lines"
13,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,6-501.113,Storing Maintenance Tools
14,00365192-A8F6-87E1-4D85FECDC569C6AB,20131107.0,7-204.11,"Sanitizers, Criteria - Chemicals"
15,003B5816-EB2D-98FB-BB9A47422343117B,20131010.0,2-103.11 (M),Person in charge is aware of their responsibil...
16,003B5816-EB2D-98FB-BB9A47422343117B,20131010.0,2-201.11 (D )and (F),Responsibility of Food employees to report and...
17,003B5816-EB2D-98FB-BB9A47422343117B,20131010.0,2-401.11,Employee beverages handled in a manner to prev...
18,003B5816-EB2D-98FB-BB9A47422343117B,20131010.0,4-101.19,NonFood-Contact Surfaces
19,003B5816-EB2D-98FB-BB9A47422343117B,20131010.0,4-302.14,"Sanitizing Solutions, Testing Devices"